<div class="loader-wrap" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>
<dmca-header></dmca-header>
<sidenav class="sidenav-wrap"></sidenav>
<div id="ogc-dashboard" class="sidenav-content">
  <div class="flex-container content-wrap" fxLayout="row">
    <div class="search-deploy search-exp">
      <md-icon class="search-icon">search</md-icon>
      <div class="search-input-wrap auto-complete-custom">
        <md-input id="bundlesSearch" type="text" class="search-input" placeholder="Search by Name, Account number or IP Address - Enter a minimum of 3 characters"></md-input>
        <md-icon class="cancel-icon">mic</md-icon>
      </div>
    </div>
  </div>
  <div class="flex-container content-wrap" fxLayout="row">
    <div class="dashboard-wrap">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>
            Y
          </template>
          <div class="flex-container business-chart">
            <div class="flex-item business-line" [style.width.px]="chartOne">
              <div class="flex-container total-notice-bg pad-bottom0" fxLayout="row">
                <div class="flex-item relative right-border" fxFlex="40%">
                  <div class="pos-center">
                    <p class="text-center owner-id">Total Notices</p>
                    <p class="text-center total-per">{{dtdTotalNotices.total_notices}}</p>
                    <!--<p class="split-line"></p>-->
                  </div>
                </div>
                <div class="flex-item relative" fxFlex="60%">
                  <!-- <p class="margin-zero"><span class="notice-hd">Personal</span><span class="notice-value"> {{personalCount}}</span></p> -->
                  <p class="margin-zero full-width pad-align btm-border"><span class="notice-hd">Business</span><span class="notice-value"> {{dtdTotalNotices.business_notictes}}</span></p>
                  <!--<p class="split-line-x"></p>-->
                  <p class="margin-zero full-width pad-align"><span class="notice-hd">Residential</span><span class="notice-value"> {{dtdTotalNotices.residential_notices}}</span></p>
                </div>
              </div>
              <div class="flex-container total-notice-bg padding-zero" fxLayout="row">
                <div class="notices-chart">
                  <chart [options]="noticesChartDTD"></chart>
                </div>
                <!--<img src="assets/total-notice.jpg" class="total-notice-img" />-->
              </div>
            </div>
            <div class="flex-item business-line total-status-list ml0 wid-change" [style.width.px]="chartTwo">
              <div class="total-status-bg">
                <md-list>
                  <md-list-item>
                    <p md-line class="total-hd-txt"> Total Terminations </p>
                    <p md-line class="mt10 lh50">
                      <span class="total-per"> {{dtdTotalNotices.termination_change_pct}}% </span>
                      <img src="assets/{{dtdTotalNotices.termination_change_indicator}}.svg" class="status-icon" />
                      <span class="total-value"> {{dtdTotalNotices.termination_count}} </span>
                    </p>
                  </md-list-item>
                </md-list>
                <md-list>
                  <md-list-item>
                    <p md-line class="total-hd-txt"> Total Reinstate </p>
                    <p md-line class="mt10 lh50">
                      <span class="total-per"> {{dtdTotalNotices.reinstate_change_pct}}% </span>
                      <img src="assets/{{dtdTotalNotices.reinstate_change_indicator}}.svg" class="status-icon" />
                      <span class="total-value"> {{dtdTotalNotices.reinstate_count}} </span>
                    </p>
                  </md-list-item>
                </md-list>
                <md-list>
                  <md-list-item>
                    <p md-line class="total-hd-txt"> Total Level Promotions </p>
                    <p md-line class="mt10 lh50">
                      <span class="total-per"> {{dtdTotalNotices.promotion_change_pct}}% </span>
                      <img src="assets/{{dtdTotalNotices.promotion_change_indicator}}.svg" class="status-icon" />
                      <span class="total-value"> {{dtdTotalNotices.promotion_count}} </span>
                    </p>
                  </md-list-item>
                </md-list>
              </div>
            </div>
            <div class="flex-item business-line total-status-list ml0 w26" [style.width.px]="chartThree">
              <chart [options]="avgViolationChartDTD"></chart>
            </div>
          </div>
        </md-tab>
        <md-tab [disabled]="'true'">
          <template md-tab-label style="pointer-events: none;">
            Q
          </template>
          <h1>Month</h1>
        </md-tab>
        <md-tab [disabled]="'true'">
          <template ng-disabled="true" md-tab-label style="pointer-events: none;">
            M
          </template>
          <h1>Q</h1>
        </md-tab>
        <md-tab [disabled]="'true'">
          <template ng-disabled="true" md-tab-label style="pointer-events: none;">
            D
          </template>
          <h1>Year</h1>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
  <div class="flex-container content-wrap" fxLayout="row">
    <div class="flex-item display-flex nomargin" fxFlex="100%">
      <div class="piracy-mitigation-graph" data-x-label="Months">
        <chart [options]="mitigationChartDTD"></chart>
      </div>
    </div>
  </div>
  <div class="watermark">Powered By Rainfall</div>
</div>
<div class="loader-wrap" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>
