
    <div fxLayout="row"  fxLayoutAlign="center center" class="flex-container login-div">
        <md-card class="login-wrap">
            <md-card-header fxLayout="row" fxLayoutAlign="center">
                <md-card-title class="login-title">LOGIN</md-card-title>
            </md-card-header>
            <!--  
            <div fxLayout="row">
                <md-input fxFlex="100%"  [(ngModel)]="Username" class="login-input" placeholder="Username"></md-input>
            </div>
            <div fxLayout="row">
                <md-input fxFlex="100%"  [(ngModel)]="Password" class="login-input" type="password" placeholder="Password"></md-input>
            </div>
            <span class="error-msg">{{errorMsg}}</span>
            -->
            <md-card-actions  fxLayout="row" fxLayoutAlign="center">
                <button md-raised-button (click)="authLogin()" class="login-button" color="primary">Login using DMCA Credentials</button>
            </md-card-actions>
        </md-card>
    </div>

