.login-input{
    padding: 7px;
    font-size: 18px;
}
.login-title{
    font-weight: bold;
    font-size: 22px;
    color: gray;
}
.login-button{
    margin: 23px 10px;
    font-size: 18px;
    padding: 5px;
}
.login-wrap{
    min-width: 30%;
}
.flex-container.login-div {
    position: absolute;
    width: 100%;
    height: 100%;
}
.error-msg{
    font-size: 14px;
    margin: 5px;
    color: red;
}