#apis-sidenav{
    position: fixed;
    width: 15%;
    height: 100%;
}

md-sidenav.md-sidenav-left {
    height: 100%;
}

#apis-sidenav md-sidenav {
  display: flex;
  overflow: visible;
  background-color: $text-primary;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.md-sidenav-backdrop, md-sidenav-backdrop {
    display:none !important;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.md-list-item, .accordion ul.sub-menu .md-list-text {
    color: #fff;
    font-size: 12px;
}

.accordion .sub-menu {
    display: none;
    font-size: 12px;
}

.accordion .sub-menu, .accordion .sub-menu li {
    list-style: none;
}

.accordion .sub-menu li {
    padding-bottom: 5px;
    cursor: pointer;
}

.accordion img.material-icons {
    width: 25px;
    padding-right: 5px;
}

#apis-page-content-wrapper {
    height: 100%;
    width: 85% !important;
    float: left;
    position: relative;
    padding: 15px;
    margin-left: 15% !important;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #414258;
    border: gainsboro;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: 0.4s;
    position: relative;
    clear: both;

    img{
        display: inline;
        width: 20px;
        margin: 0 10px;
    }
}

span.desc {
    display: inline-block;
    float: right;

    span.desc-text {
        display: inline-block;
        width: 75px;
        text-align: left;
    }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: none;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #fff;
    color: #000;
    display: none;
}

.search-list-wrap {
    position: absolute;
    top: 43px;
    z-index: 1111;
    background: #fff;
    width: 100%;
    border: 1px solid #b0b0b0;
}
.search-list{
    padding: 7px 15px;
    cursor: pointer;
}

.search-list:hover{
    border-left: 5px solid #979797;
    background:#eee;
}
.search-name {
    margin: 0;
    text-transform: capitalize;
}

.search-detail {
    margin: 0;
    text-transform: capitalize;
}

li p.sidenav-text{
    color: #95A5A6;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px !important;
    padding-left: 10px;
    margin: 0 !important;
}

.sidenav-wrap, .sidenav-content{
    float:left;
}
.sidenav-wrap{
    width: 15%;
}
.sidenav-content{
    width: 85%;
    padding: 15px;
    margin-left: 15%;
    margin-bottom: 40px;
}
.content-wrap{
    width: 100% !important;
    margin:0 auto;
    position:relative;
}

section {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 200;

    a.acc-panel, a.acc-panel:hover {
        color: #fff;
        text-decoration: none;
    }
}

section .acc-content {
    background-color: #fff;
    color: #A4A2A2;
    display: none;
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    clear: both;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;

    .expand-wrap, .expand-wrap p{
        background-color: #fff;
        font-size: 12px;
        margin-bottom: 2px;
        padding: 2px 2px 2px 10px;
        position: relative;

        .primary-xsmall-txt {
            color: #404256;
            margin: 0;
            font-size: 12px;
        }
    }

    .rule-label{
        background-color: #BA1F30;
        color: #fff;
    }
}

section .acc-content p {
    color: #A4A2A2;
    background-color: #fff;
}

#apis-page-content-wrapper .btn-primary {
    background-color: #BA1F30;
    border-color: #BA1F30;
}

#apis-page-content-wrapper .create-api-cta img {
    margin-right: 8px;
}

#apis-page-content-wrapper .create-api-cta {
    border-radius: 3px;
    color: #fff;
    display: block;
    float: right;
    height: 35px;
    margin-bottom: 10px;
    width: 110px;
    padding: 6px;
    border: 1px solid;
    background: #BA1F30;
    border-color: #BA1F30;
}

