<dmca-header></dmca-header>
<!-- Sidebar -->
	<div class="example-sidenav-fab-container" id="apis-sidenav">
		<md-sidenav class="md-sidenav-left" mode="side" opened="true" md-component-id="left">
	        <md-list class="accordion">
	            <md-list-item data-target="#manage-rules" class="inactive-nav" (click)="showRules = !showRules;" [routerLink]="['/manage']">
	            	<img class="material-icons manage-rules" src="/assets/admin-rules2.png">
	            	<p class="sidenav-text">Manage Rules <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="manage-rules-sub" [style.display]="expandRulesMgmt()">
		            <li class="active-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#API" class="active-nav" (click)="showAPIs = !showAPIs;" [routerLink]="['/apis']">
		            <img class="material-icons manage-rules" src="/assets/admin-security-active.png">
		            <p class="sidenav-text">Manage APIs <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="API" [style.display]="expandAPIs()">
		            <li class="inactive-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#infra" class="inactive-nav" (click)="infrastructureGo()">
		            <img class="material-icons manage-rules" src="/assets/admin-integration2.png">
		            <p class="sidenav-text">Manage Infrastructure <span class="arrow"></span></p>
		        </md-list-item>
	        </md-list>
	    </md-sidenav>
    </div>

	<div id="apis-page-content-wrapper">
	    <div class="flex-container content-wrap" fxLayout="row">
	      <div class="search-deploy search-exp">
	      <md-icon class="search-icon">search</md-icon>
	      <div class="search-input-wrap auto-complete-custom">
	        <md-input id="bundlesSearch" type="text" class="search-input" (ngModelChange)="autoComplete($event)" [(ngModel)]="searchName"
	          placeholder="Search APIs"></md-input>
	        <md-icon class="cancel-icon">mic</md-icon>
	      </div>
	    </div>
	    <div class="search-progress" *ngIf="searchProgress">
	      <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
	    </div>
	    <div class="search-md-list-itemst-wrap" *ngIf="searchName?.length > 2">
	      <div class="flex-container search-md-list-itemst" fxLayout="row" *ngFor="let item of searchItems | search:searchName" (cmd-list-itemck)="onSubscriberSelected(item)">
	        <div class="flex-item" fxFlex="20%">
	          <p class="search-name">{{item.name}}</p>
	        </div>
	        <div class="flex-item" fxFlex="60%">
	          <p class="search-detail">{{item.address}}</p>
	        </div>
	        <div class="flex-item" fxFlex="20%">
	          <p class="search-name">Level {{item.level}}</p>
	        </div>
	      </div>
	      <div class="flex-container search-md-list-itemst" fxLayout="row" *ngIf="notFound">
	        <p class="search-name">No Results Found. Try different search md-list-itemst</p>
	      </div>
	    </div>
	  </div>
	<br>

	<div class="flex-container content-wrap" >  
		<button class="btn btn-primary create-api-cta" [routerLink]="['/create-api']">
			<img src="/assets/add-white.png" alt="add icon" style="width:20px;height:20px;cursor:pointer"><span class="create-desc">Add API</span>
		</button>                                        
		<section id="api1" > 
			<button class="accordion acc-panel" (click)="showRule = !showRule;">DMCA Validate Task
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule()">
			  	<p class="flex-container select-detail rule-label api-name">API Name DMCAValidateAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Validate subscriber information from the input received</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Bulk Upload</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">NA</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api2" >
			<button class="accordion acc-panel" (click)="showRule2 = !showRule2;">DMCA Upload API Task
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule2()">
			  	<p class="flex-container select-detail rule-label api-name">API Name DMCAUploadAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Validate input received from bulk upload</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Bulk Upload</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">CSV File</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api3">
			<button class="accordion acc-panel flex-container" (click)="showRule3 = !showRule3;">DMCA Webform API Task
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule3()">
			  	<p class="flex-container select-detail rule-label api-name">API Name DMCAWebformAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Validate input received from Web-Form</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Manual Infringement</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">Web-Form</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api4">
			<button class="accordion acc-panel flex-container" (click)="showRule4 = !showRule4;">Search Suggest API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule4()">
			  	<p class="flex-container select-detail rule-label api-name">API Name SearchSuggestAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Provide wild card search capabilities with any name or account of the subscriber. Atleast 3 characters should be typed to trigger this API
Ex: Type Dav to return all the matchings as David, Dave etc.
Type ISP-R to retrieve all residential accounts</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://&lt;ip&gt;:<&lt;port&gt;/subscribers/infringements/_search</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api5">
			<button class="accordion acc-panel flex-container" (click)="showRule5 = !showRule5;">Search Select API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule5()">
			  	<p class="flex-container select-detail rule-label api-name">API Name SearchSelectAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Display details of the subscriber selected from search </p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard/Portal Landing Page</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://&lt;ip&gt;:&lt;port&gt;/subscribers/infringements/" + _sub_id</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api6">
			<button class="accordion acc-panel flex-container" (click)="showRule6 = !showRule6;">Subscriber Infringement API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule6()">
			  	<p class="flex-container select-detail rule-label api-name">API Name SubscriberInfringementsAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Retrieve details of the selected subscriber infringement levels and details</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt"> http://&lt;ip&gt;:<&lt;port&gt;/subscribers/details/_search?filter_path=hits.hits._source&size=10000&pretty</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api7">
			<button class="accordion acc-panel flex-container" (click)="showRule7 = !showRule7;">Infringement History Chart API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule7()">
			  	<p class="flex-container select-detail rule-label api-name">API Name InfringementHistoryChartAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Provide data for infringement history chart</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://&lt;ip&gt;:&lt;port&gt;/subscribers/history/_search?filter_path=hits.hits._source.infringement_level,hits.hits._source.notification_date&size=10000&pretty</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api8">
			<button class="accordion acc-panel flex-container" (click)="showRule8 = !showRule8;">Total Notices Chart API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule8()">
			  	<p class="flex-container select-detail rule-label api-name">API Name TotalNoticesChartAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Provide input for Subscriber type (i.e Residential, Business) chart</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://<&lt;ip&gt;:&lt;port&gt;/charts/noticesbreakdown/_search?filter_path=hits.hits._source&size=10000&q=period_type:YTD&pretty</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api9">
			<button class="accordion acc-panel flex-container" (click)="showRule9 = !showRule9;">Service Type Chart API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule9()">
			  	<p class="flex-container select-detail rule-label api-name">API Name ServiceTypeChartAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Provide input for method of violation (i.e BitTorrent, kaaza) chart</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://&lt;ip&gt;:&lt;port&gt;/charts/servicetypes/_search?filter_path=hits.hits._source&size=10000&q=period_type:YTD&sort=total_notices:desc&pretty</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="api10">
			<button class="accordion acc-panel flex-container" (click)="showRule10 = !showRule10;">Infringement Levels Chart API
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule10()">
			  	<p class="flex-container select-detail rule-label api-name">API Name InfringementLevelsChartAPI</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="api-desc">Purpose</p>
			  			<p class="primary-xsmall-txt">Provide input for NOTICE TOTAL UPLOAD EVENTS chart</p>
			  			<p class="api-element">Element</p>
			  			<p class="primary-xsmall-txt">Dashboard</p>
			  			<!-- <p class="rule-subgroup security">Security</p>
			  			<p class="primary-xsmall-txt">Oath Token 2.0</p> -->
			  			<p class="rule-subgroup format">API Format</p>
			  			<p class="primary-xsmall-txt">http://&lt;ip&gt;:&lt;port&gt;/charts/avgperlevel_mitigation/_search?filter_path=hits.hits._source&size=10000&sort=infringement_level_value:desc&q=period_type:YTD&pretty</p>
			  			<p class="rule-desc exc">Exceptions</p> 
			  			<p class="primary-xsmall-txt">400 - Bad Request <br>
401 - Unauthorized <br>
404 - Not Found</p>
			  			<p class="func-area res">Output Format</p>
			  			<p class="primary-xsmall-txt">JSON</p>
			  		</div>
			  	</div>
			</div>
		</section>
	</div>
	<div class="watermark">Powered By Rainfall</div>
</div>

