<manage-sidenav class="example-sidenav-fab-container manage-sidenav" [style.height.px]="navHeight">
    <md-sidenav class="md-sidenav-left" mode="side" opened="true" md-component-id="left">
        <md-list>
            <!--<md-subheader class="md-no-sticky">Favorites</md-subheader>-->
            <md-list-item (searchEvent)="dashboardClick();navigation('dashboard','one');" class="{{checkFlag('one')}}" [routerLink]="['/dashboard']">
                <p class="sidenav-text">Manage Rules</p>
            </md-list-item>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="index.html">DMCA</a></li>
                <li><a href="#">Film Marketing</a></li>
                <li><a href="#">Buttons</a></li>
            </ul>
            <md-list-item>
                <p class="sidenav-text">Manage APIs</p>
            </md-list-item>
            <ul class="sub-menu collapse" id="APIs">
                <li class="active"><a href="#">DMCA</a></li>
                <li><a href="#">Film Marketing</a></li>
                <li><a href="#">Buttons</a></li>
            </ul>
            <md-list-item>
                <i class="material-icons white">manage-infrastructure</i>
                <p class="sidenav-text">Manage Infrastructure</p>
            </md-list-item>
            <md-list-item>
                <p class="sidenav-text">Contact Admin</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
</manage-sidenav>
