<dmca-header></dmca-header>
<h4 class="header-title">BULK VIOLATION UPLOAD</h4>
<div class="flex-container mt2 bulk-upload" fxLayout="row" fle>
        <p-growl [value]="msgs" life="3000"></p-growl>
    <div class="flex-item" fxFlex="8%"></div>
    <div class="flex-item" fxFlex="84%">
        <h4 class="content-title">Sync successfull</h4>
        <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="flex-item vio-wrap" fxFlex="70%">
                <div class="vio-detail">
                    <md-list class="total-bg">
                        <md-list-item>
                            <img md-list-avatar src="assets/spreadsheet.png" class="syn-icon" />
                            <h3 md-line class="syn-count"> {{validCount}} </h3>
                            <p md-line class="syn-status">Violations to Process
                            </p>
                        </md-list-item>
                    </md-list>
                    <md-list class="incomplete-bg mt1">
                        <md-list-item>
                            <img md-list-avatar src="assets/spreadsheet.png" class="syn-icon" />
                            <h3 md-line class="syn-count">{{totalCount}} </h3>
                            <p md-line class="syn-status">Total Violations Parsed
                            </p>
                        </md-list-item>
                    </md-list>
                    <md-list class="incomplete-bg mt1 gray-bg">
                        <md-list-item>
                            <img md-list-avatar src="assets/spreadsheet.png" class="syn-icon" class="syn-icon" />
                            <h3 md-line class="syn-count"> {{invalidCount}} </h3>
                            <p md-line class="syn-status">Incomplete Notifications
                            </p>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="vio-submitter">
                    <div class="submitter-det mt1">
                        <h3 md-line class="char-txt">Declaration of Good Faith</h3>
                        <p md-line>John Porter</p>
                    </div>
                    <div class="submitter-det">
                        <h3 md-line class="char-txt">Declaration of Accuracy</h3>
                        <p md-line>John Porter</p>
                    </div>
                    <div class="submitter-det">
                        <h3 md-line class="char-txt">Signed</h3>
                        <p md-line>John Porter</p>
                    </div>
                </div>
                
                    <div class="vio-submit">
                        <button md-raised-button color="primary" (click)="showDeclaration()" *ngIf="confirm">submit</button>
                        <p *ngIf="bulkSubmit" class="date-txt">Submitted on {{submitDate}}</p>
                    </div>
            </div>
        </div>
    </div>
    <!--<div class="flex-item" fxFlex="54%">
        <div class="flex-container" fxLayout="row">
            <div class="search-deploy" [class.search-exp]="searchExp">
                <md-icon class="search-icon" (click)="onSearchExp()">search</md-icon>
                <div class="search-input-wrap" [class.search-exp]="searchExp">
                    <md-input id="bundlesSearch" type="text" class="search-input" [(ngModel)]="filter" placeholder="Search notification (ip address, status, isp)"></md-input>
                    <md-icon class="cancel-icon" (click)="onSearchExp()">clear</md-icon>
                </div>
            </div>
        </div>
        <div class="flex-container" fxLayout="row">
            <div>
                <div class="syn-cloud-wrap">
                    <md-list class="total-bg mt1" style="background: #BA1F30">
                        <md-list-item>
                            <md-icon md-list-avatar class="syn-icon">view_compact</md-icon>
                            <h3 md-line class="syn-count"> 83,045 </h3>
                            <p md-line class="syn-status">Violations to Process</p>
                            <md-icon class="syn-cloud" (click)="showDeclaration()">cloud_upload</md-icon>
                        </md-list-item>
                    </md-list>
                </div>
                <md-list class="incomplete-bg mt1 syn-list">
                    <md-list-item>
                        <md-icon md-list-avatar class="syn-icon">view_compact</md-icon>
                        <h3 md-line class="syn-count"> 83,045 </h3>
                        <p md-line class="syn-status">Violations: ISP 1</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>-->
    <!--<simple-notifications [options]="options"></simple-notifications>-->
    <div class="flex-item" fxFlex="8%"></div>
</div>
<div class="model-wrap" [class.model-visible]="modelVisible">
    <div class="model-cont">
        <p class="model-title">VIOLATION CONFIRMATION</p>
        <p class="model-desc">You are submitting {{validCount}} notifications. You are digitally signing each violation and declaring each
            notification as accurate. Do you confirm?</p>
        <div class="model-btn-wrap">
            <button md-raised-button color="primary" class="model-btn" (click)="showDeclaration()">cancel</button>
            <button md-raised-button color="primary" class="model-btn" (click)="cloudUpload()">confirm</button>
        </div>
    </div>
    <div class="watermark">Powered By Rainfall</div>
</div>
<div class="loader-wrap"  *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>

