.material-icons.md-48 { 
    font-size: 42px; 
}

.upload-card{
    margin: 0 16px 16px 0;
    width: 320px;
    background-color: $total-bg;
}

.upload-card md-card-title{
    font-size: 42px;
    margin-top: -18px;
}

.search-deploy {
    border: 2px solid #b0b0b0;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #ccc;
    background: #fff;
    width: 4%;
    float: right;
    position: relative;
}
.search-deploy.search-exp{
    width: 100%;    
    -webkit-transition: width .2s;  
    transition: width .2s; 
}
.search-icon {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}
.search-exp .search-icon{
    width: 4%;
}
.search-input-wrap {
    width: 0px;
    float: left;
    height: 24px;
    -webkit-transition: width .2s;  
    transition: width .2s; 
    color: #a3a3a3;
    font-size: 15px;
}
.search-exp .search-input-wrap {
    width: 93%;
    padding-left: 10px;
    margin-top: 5px;
}
.search-input {
    width: 0px;
    float: left;
    border: none;
}
.search-exp .search-input {
    width: 100%;
}

.search-input input[type=search]{
    border: none;
    outline: none;
}

.search-icon{
    font-size: 20px;
    float: left;
    cursor:pointer;    
}
.cancel-icon {
    float: right;
    font-size: 20px;
    top: 8px;
    cursor: pointer;
    position:absolute;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s linear;
}
.search-exp .cancel-icon{
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear; 
    transition-delay: .2s;
}
.header-title {
    position: absolute;
    top: 0;
    left: 12%;
    color: #fff;
    margin: 0;
    line-height: 77px;
    font-size: 30px;
    font-weight: 500;
    z-index: 1111;
}
.content-title{
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    color: #666;
}
.mt2{
    margin-top: 2em !important;
}
.mt1{
    margin-top: 1em !important;
}
.total-bg{
    background: $total-bg;
    padding: 0 !important;
}
.incomplete-bg{
    background: $complete-bg;
    padding: 0 !important;
}
.gray-bg{
    background: $incomplete-bg !important
}
.syn-count{
    text-align: right;
    font-size: 48px !important;
    color: #fff;
    font-weight: 200;
}
.syn-status{
    text-align: right;
    font-size: 16px !important;
    color: #fff;
}
.syn-icon{
    font-size: 40px;
    color: #fff;
    width: 70px !important;
    height: 70px !important;
}
.syn-cloud{
    border-left: 2px solid #fff;
    padding: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.syn-list{
    width: 78% !important;
}

.vio-wrap {
    background: #fff;
    padding: 15px;
    margin: 20px 0;
    position: relative;
}

.vio-detail {
    width: 40%;
    float: left;
}

.vio-submitter {
    width: 60%;
    float: left;
}
.char-txt {
    margin: 0;
    font-weight: normal;
    color: #666;
}
.date-txt{
    font-weight: normal;
    color: #666;
}
.submitter-det p {
    margin: 0;
    color: #09c;
    font-size: 18px;
}

.submitter-det {
    padding: 25px 20px;
}
.content-submit {
    position: relative;
    float: right;
}
.vio-submit{
    position: absolute;
    right: 20px;
    bottom: 15px;
}