
    <div layout="row" layout-align="center center" class="login-card">
        <md-card class="card-40-center login-input-section">
            <md-card-header>
                <md-card-title>LOGIN</md-card-title>
            </md-card-header>
            <div class="md-padding" layout-align="center">     
                <md-card-content>
                    <div layout="row">
                        <md-input placeholder="Username"></md-input>
                    </div>
                    <div layout="row">
                        <md-input type="password" placeholder="Password"></md-input>
                    </div>
                </md-card-content>
                <div layout="row">
                    <md-card-actions>
                        <button md-raised-button [routerLink]="['/submission']" color="primary">Login</button>
                        <button md-raised-button>Cancel</button>
                    </md-card-actions>
                </div>
            </div>
        </md-card>
    </div>

