<div class="flex-container header-height">
<md-toolbar class="dmca-header" layout="row">
	 <!--<div class="md-toolbar-tools">-->
     <button md-button class="md-icon-button header-logo" aria-label="Icon" [routerLink]="['/landing']">
       <img class="logo-img" [src]="logo" />
       <!--<md-icon svgSrc="/assets/pwc-logo.svg"></md-icon>-->
      </button>
      <span class="dmca-header-space"></span>
      <span><i class="material-icons md-32">settings</i></span>
    <!--</div>-->
</md-toolbar>
</div>