.material-icons.md-32 { 
    font-size: 32px; 
    color: lightgrey;
}
.header-logo{
    background-color: $primary;
    height:77px;
    width: 129px;
}
.logo-img{
    width: 57px;
}

.dmca-header{
    background-color: $text-primary;
    padding-left: 0;
    height: 77px;
    position: fixed;
    z-index: 1111;
    width: 100%;
    top:0;
}

.dmca-header-space{
    flex: 1 1 auto;
}
.header-height{
    height: 77px;
}