<md-tab-group>
    <md-tab>
        <template md-tab-label>
            L1
        </template>
        <h1>Level1</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L2
        </template>
        <h1>Level2</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L3
        </template>
        <h1>Level3</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L4
        </template>
        <h1>Level4</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L5
        </template>
        <h1>Level5</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L6
        </template>
        <h1>Level6</h1>
    </md-tab>
    <md-tab>
        <template md-tab-label>
            L7
        </template>
        <h1>Level7</h1>
    </md-tab>
</md-tab-group>