$primary: #BA1F30;
$secondary: #414258;
$btn-primary-bg: $primary;
$btn-txt-color: #fff;
$error-color: #e0301e;
$success-color: #396;
$model-bg: rgba(33, 33, 33, 0.5);
$model-box: #fff;
$total-bg: #F14061;
$complete-bg: #E96F86;
$incomplete-bg: #8D8178;
$terminated: #cf0e20;
$suspended: #f6a623;


/*Text Primary Color*/
$text-primary: #404256;
$text-secondary: #666;
$landing-hd-color: #4a4a4a;
$vol-txt-color: $landing-hd-color;