.margin-zero{
    margin: 0 !important;
}
.padding-zero{
    padding: 0 !important;
}
.pad-left0{
    padding-left: 0 !important;
}
.pad-top0{
    padding-top: 0 !important;
}
.pad-bottom0{
    padding-bottom: 0 !important;
}
.bg-trans{
    background: transparent !important;
}
.mt10{
    margin-top: 10px !important;
}
.pt20{
    padding-top: 20px !important;
}
.pb20{
    padding-bottom: 20px !important;
}
.fleft{
    float: left !important;
}
.fright{
    float: right !important;
}
.height1{
    height: 1px !important;
}
.primary-color{
    color:$primary !important;
}
.relative{
    position: relative !important;
}
.form-wrap {
    width: 86%;
    margin: 0 auto;
    float: left;
    position: relative;
}

.input-wrap {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    position: relative;
    float: left;
    width: 97%;
}

.input-hd {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: $text-secondary;
    font-weight: normal;
}

.input-cont {
    float: left;
    width: 100%;
}

.input-field {
    float: left;
    position: relative;
    padding: 10px 20px;
}
.model-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $model-bg;
    top:0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-wrap.model-visible{
    visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
  z-index: 1111;
}
.model-cont {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: $model-box;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.23);
    padding: 15px;
    width: 43%;
}


.model-title {
    font-size: 18px;
    font-weight: bold;
}

.model-desc {
    color: $text-secondary;
    font-size: 14px;
}

.model-btn-wrap {
    float: right;
}

.model-btn {
    background-color: transparent !important;
    box-shadow: none;
    color: #02c5b5 !important;
    text-transform: uppercase;
}
.display-flex{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.flex-item.display-flex{
    margin-left:0.8em;
}
.mb10{
    margin-bottom: 10px !important;
}
.full-width{
    width: 100% !important;
    float: left !important;
    padding: 1em;
}
.ml0{
    margin-left: 0 !important;
}
.lh50{
    line-height: 50px !important;
}
.ptb10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}