<div class="loader-wrap" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>
<dmca-header></dmca-header>
<sidenav class="sidenav-wrap"></sidenav>
<div class="sidenav-content">
  <div class="flex-container content-wrap" fxLayout="row">
    <!--<div class="search-deploy search-exp">
      <md-icon class="search-icon">search</md-icon>
      <div class="search-input-wrap auto-complete-custom">
        <ng2-completer [(ngModel)]="countryName5" class="search-input" [dataService]="dataRemote2" [minSearchLength]="3" [placeholder]="'Search notification (ip address, status, isp)'"
          [textSearching]="'Please wait...'" (selected)="onSubscriberSelected($event)">
        </ng2-completer>
        <md-input auto-complete [(ngModel)]="searchString" class="search-input" [source]="api" min-chars="3" placeholder="Search notification (ip address, status, isp)" path-to-data="results" display-property-name="_source"></md-input>
        <md-input id="bundlesSearch" type="text" class="search-input" [(ngModel)]="filter" placeholder="Search notification (ip address, status, isp)"></md-input>
        <md-icon class="cancel-icon">mic</md-icon>
      </div>
    </div>-->
    <div class="search-deploy search-exp">
      <md-icon class="search-icon">search</md-icon>
      <div class="search-input-wrap auto-complete-custom">
        <md-input id="bundlesSearch" type="text" class="search-input" (ngModelChange)="autoComplete($event)" [(ngModel)]="searchName"
          placeholder="Search by Name, Account number or IP Address - Enter a minimum of 3 characters"></md-input>
        <md-icon class="cancel-icon">mic</md-icon>
      </div>
    </div>
    <div class="search-progress" *ngIf="searchProgress">
      <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
    </div>
    <div class="search-list-wrap" *ngIf="searchName?.length > 2">
      <div class="flex-container search-list" fxLayout="row" *ngFor="let item of searchItems " (click)="onSubscriberSelected(item)">
        <div class="flex-item" fxFlex="20%">
          <p class="search-name">{{item.name}}</p>
        </div>
        <div class="flex-item" fxFlex="60%">
          <p class="search-detail">{{item.address}}</p>
        </div>
        <div class="flex-item" fxFlex="20%">
          <p class="search-name">Level {{item.level}}</p>
        </div>
      </div>
      <div class="flex-container search-list" fxLayout="row" *ngIf="notFound">
        <p class="search-name">No Results Found. Try different search list</p>
      </div>
    </div>
  </div>
  <div *ngIf="searchItem">
    <div class="flex-container content-wrap" fxLayout="row">
      <div class="dashboard-wrap">
        <md-tab-group (selectChange)="tabChanged($event)">
          <md-tab>
            <template md-tab-label>
              Y
            </template>
            <div class="flex-container business-chart">
              <div class="flex-item business-line" [style.width.px]="chartOne">
                <div class="flex-container total-notice-bg pad-bottom0" fxLayout="row">
                  <div class="flex-item relative right-border" fxFlex="40%">
                    <div class="pos-center">
                      <p class="text-center owner-id">Total Notices</p>
                      <p class="text-center total-per">{{ytdTotalNotices.total_notices}}</p>
                      <!--<p class="split-line"></p>-->
                    </div>
                  </div>
                  <div class="flex-item relative" fxFlex="60%">
                    <!-- <p class="margin-zero"><span class="notice-hd">Personal</span><span class="notice-value"> {{personalCount}}</span></p> -->
                    <p class="margin-zero full-width pad-align btm-border"><span class="notice-hd">Business</span><span class="notice-value"> {{ytdTotalNotices.business_notictes}}</span></p>
                    <!--<p class="split-line-x"></p>-->
                    <p class="margin-zero full-width pad-align"><span class="notice-hd">Residential</span><span class="notice-value"> {{ytdTotalNotices.residential_notices}}</span></p>
                  </div>
                </div>
                <div class="flex-container total-notice-bg padding-zero" fxLayout="row">
                  <!--<img src="assets/total-notice.jpg" class="total-notice-img" />-->
                  <div class="notices-chart">
                    <chart [options]="noticesChartYTD"></chart>
                  </div>
                </div>
              </div>
              <!--<div class="flex-item business-line pad-left0" [style.width.px]="totalNoticeWidth">
                <img class="full-width" height="297" src="/assets/content-owner.png" />
              </div>-->
              <div class="flex-item business-line ml0" [style.width.px]="chartTwo">
                <!--<div class="fleft business-scroll" [style.width.px]="dayBarStatus">-->
                <div class="fleft business-scroll">
                  <div class="flex-container" fxLayout="row" *ngFor="let item of contentOwnerYTD">
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-id owner-pos"> {{item._source.content_owner_name}}</p>
                    </div>
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-value">{{item._source.total_notices}}</p>
                    </div>
                    <!--<div class="flex-item" fxFlex="15%">
                      <img width="53" height="53" src="assets/image1.svg" />
                    </div>-->
                  </div>
                </div>
                <!--<div class="fleft" [style.width.px]="dayBarWidth">
                  <chart [options]="dayBarOption"></chart>
                  <img class="full-width" height="347" src="/assets/content-owner.jpg" />
                </div>-->
              </div>
              <div class="flex-item business-line total-status-list ml0" [style.width.px]="chartThree">
                <div class="total-status-bg">
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Terminations </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{ytdTotalNotices.termination_change_pct}}% </span>
                        <img src="assets/{{ytdTotalNotices.termination_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{ytdTotalNotices.termination_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Reinstate </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{ytdTotalNotices.reinstate_change_pct}}% </span>
                        <img src="assets/{{ytdTotalNotices.reinstate_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{ytdTotalNotices.reinstate_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Level Promotions </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{ytdTotalNotices.promotion_change_pct}}% </span>
                        <img src="assets/{{ytdTotalNotices.promotion_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{ytdTotalNotices.promotion_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </div>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              Q
            </template>
            <div class="flex-container business-chart">
              <div class="flex-item business-line" [style.width.px]="chartOne">
                <div class="flex-container total-notice-bg pad-bottom0" fxLayout="row">
                  <div class="flex-item relative right-border" fxFlex="40%">
                    <div class="pos-center">
                      <p class="text-center owner-id">Total Notices</p>
                      <p class="text-center total-per">{{qtdTotalNotices.total_notices}}</p>
                      <!--<p class="split-line"></p>-->
                    </div>
                  </div>
                  <div class="flex-item relative" fxFlex="60%">
                    <!-- <p class="margin-zero"><span class="notice-hd">Personal</span><span class="notice-value"> {{personalCount}}</span></p> -->
                    <p class="margin-zero full-width pad-align btm-border"><span class="notice-hd">Business</span><span class="notice-value"> {{qtdTotalNotices.business_notictes}}</span></p>
                    <!--<p class="split-line-x"></p>-->
                    <p class="margin-zero full-width pad-align"><span class="notice-hd">Residential</span><span class="notice-value"> {{qtdTotalNotices.residential_notices}}</span></p>
                  </div>
                </div>
                <div class="flex-container total-notice-bg padding-zero" fxLayout="row">
                  <div class="notices-chart">
                    <chart [options]="noticesChartQTD"></chart>
                  </div>
                  <!--<img src="assets/total-notice.jpg" class="total-notice-img" />-->
                </div>
              </div>
              <!--<div class="flex-item business-line pad-left0" [style.width.px]="totalNoticeWidth">
                <img class="full-width" height="297" src="/assets/content-owner.png" />
              </div>-->
              <div class="flex-item business-line ml0" [style.width.px]="chartTwo">
                <!--<div class="fleft business-scroll" [style.width.px]="dayBarStatus">-->
                <div class="fleft business-scroll">
                  <div class="flex-container" fxLayout="row" *ngFor="let item of contentOwnerQTD">
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-id owner-pos"> {{item._source.content_owner_name}}</p>
                    </div>
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-value">{{item._source.total_notices}}</p>
                    </div>
                  </div>
                </div>
                <!--<div class="fleft" [style.width.px]="dayBarWidth">
                  <chart [options]="dayBarOption"></chart>
                  <img class="full-width" height="347" src="/assets/content-owner.jpg" />
                </div>-->
              </div>
              <div class="flex-item business-line total-status-list ml0" [style.width.px]="chartThree">
                <div class="total-status-bg">
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Terminations </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{qtdTotalNotices.termination_change_pct}}% </span>
                        <img src="assets/{{qtdTotalNotices.termination_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{qtdTotalNotices.termination_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Reinstate </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{qtdTotalNotices.reinstate_change_pct}}% </span>
                        <img src="assets/{{qtdTotalNotices.reinstate_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{qtdTotalNotices.reinstate_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Level Promotions </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{qtdTotalNotices.promotion_change_pct}}% </span>
                        <img src="assets/{{qtdTotalNotices.promotion_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{qtdTotalNotices.promotion_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </div>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              M
            </template>
            <div class="flex-container business-chart">
              <div class="flex-item business-line" [style.width.px]="chartOne">
                <div class="flex-container total-notice-bg pad-bottom0" fxLayout="row">
                  <div class="flex-item relative right-border" fxFlex="40%">
                    <div class="pos-center">
                      <p class="text-center owner-id">Total Notices</p>
                      <p class="text-center total-per">{{mtdTotalNotices.total_notices}}</p>
                      <!--<p class="split-line"></p>-->
                    </div>
                  </div>
                  <div class="flex-item relative" fxFlex="60%">
                    <!-- <p class="margin-zero"><span class="notice-hd">Personal</span><span class="notice-value"> {{personalCount}}</span></p> -->
                    <p class="margin-zero full-width pad-align btm-border"><span class="notice-hd">Business</span><span class="notice-value"> {{mtdTotalNotices.business_notictes}}</span></p>
                                      <!--<p class="split-line-x"></p>-->
                    <p class="margin-zero full-width pad-align"><span class="notice-hd">Residential</span><span class="notice-value"> {{mtdTotalNotices.residential_notices}}</span></p>
                  </div>
                </div>
                <div class="flex-container total-notice-bg padding-zero" fxLayout="row">
                  <!--<img src="assets/total-notice.jpg" class="total-notice-img" />-->
                  <div class="notices-chart">
                    <chart [options]="noticesChartMTD"></chart>
                  </div>
                </div>
              </div>
              <!--<div class="flex-item business-line pad-left0" [style.width.px]="totalNoticeWidth">
                <img class="full-width" height="297" src="/assets/content-owner.png" />
              </div>-->
              <div class="flex-item business-line ml0" [style.width.px]="chartTwo">
                <!--<div class="fleft business-scroll" [style.width.px]="dayBarStatus">-->
                <div class="fleft business-scroll">
                  <div class="flex-container" fxLayout="row" *ngFor="let item of contentOwnerMTD">
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-id owner-pos"> {{item._source.content_owner_name}}</p>
                    </div>
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-value">{{item._source.total_notices}}</p>
                    </div>
                    <!--<div class="flex-item" fxFlex="15%">
                      <img width="53" height="53" src="assets/image1.svg" />
                    </div>-->
                  </div>
                </div>
                <!--<div class="fleft" [style.width.px]="dayBarWidth">
                  <chart [options]="dayBarOption"></chart>
                  <img class="full-width" height="347" src="/assets/content-owner.jpg" />
                </div>-->
              </div>
              <div class="flex-item business-line total-status-list ml0" [style.width.px]="chartThree">
                <div class="total-status-bg">
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Terminations </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{mtdTotalNotices.termination_change_pct}}% </span>
                        <img src="assets/{{mtdTotalNotices.termination_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{mtdTotalNotices.termination_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Reinstate </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{mtdTotalNotices.reinstate_change_pct}}% </span>
                        <img src="assets/{{mtdTotalNotices.reinstate_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{mtdTotalNotices.reinstate_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Level Promotions </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{mtdTotalNotices.promotion_change_pct}}% </span>
                        <img src="assets/{{mtdTotalNotices.promotion_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{mtdTotalNotices.promotion_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </div>
          </md-tab>
          <md-tab>
            <template md-tab-label>
              D
            </template>
            <div class="flex-container business-chart">
              <div class="flex-item business-line" [style.width.px]="chartOne">
                <div class="flex-container total-notice-bg pad-bottom0" fxLayout="row">
                  <div class="flex-item relative right-border" fxFlex="40%">
                    <div class="pos-center">
                      <p class="text-center owner-id">Total Notices</p>
                      <p class="text-center total-per">{{dtdTotalNotices.total_notices}}</p>
                      <!--<p class="split-line"></p>-->
                    </div>
                  </div>
                  <div class="flex-item relative" fxFlex="60%">
                    <!-- <p class="margin-zero"><span class="notice-hd">Personal</span><span class="notice-value"> {{personalCount}}</span></p> -->
                    <p class="margin-zero full-width pad-align btm-border"><span class="notice-hd">Business</span><span class="notice-value"> {{dtdTotalNotices.business_notictes}}</span></p>
                                      <!--<p class="split-line-x"></p>-->
                    <p class="margin-zero full-width pad-align"><span class="notice-hd">Residential</span><span class="notice-value"> {{dtdTotalNotices.residential_notices}}</span></p>
                  </div>
                </div>
                <div class="flex-container total-notice-bg padding-zero" fxLayout="row">
                  <div class="notices-chart">
                    <chart [options]="noticesChartDTD"></chart>
                  </div>
                  <!--<img src="assets/total-notice.jpg" class="total-notice-img" />-->
                </div>
              </div>
              <!--<div class="flex-item business-line pad-left0" [style.width.px]="totalNoticeWidth">
                <img class="full-width" height="297" src="/assets/content-owner.png" />
              </div>-->
              <div class="flex-item business-line ml0" [style.width.px]="chartTwo">
                <!--<div class="fleft business-scroll" [style.width.px]="dayBarStatus">-->
                <div class="fleft business-scroll">
                  <div class="flex-container" fxLayout="row" *ngFor="let item of contentOwnerDTD">
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-id owner-pos"> {{item._source.content_owner_name}}</p>
                    </div>
                    <div class="flex-item" fxFlex="50%">
                      <p class="owner-value">{{item._source.total_notices}}</p>
                    </div>
                    <!--<div class="flex-item" fxFlex="15%">
                      <img width="53" height="53" src="assets/image1.svg" />
                    </div>-->
                  </div>
                </div>
                <!--<div class="fleft" [style.width.px]="dayBarWidth">
                  <chart [options]="dayBarOption"></chart>
                  <img class="full-width" height="347" src="/assets/content-owner.jpg" />
                </div>-->
              </div>
              <div class="flex-item business-line total-status-list ml0" [style.width.px]="chartThree">
                <div class="total-status-bg">
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Terminations </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{dtdTotalNotices.termination_change_pct}}% </span>
                        <img src="assets/{{dtdTotalNotices.termination_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{dtdTotalNotices.termination_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Reinstate </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{dtdTotalNotices.reinstate_change_pct}}% </span>
                        <img src="assets/{{dtdTotalNotices.reinstate_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{dtdTotalNotices.reinstate_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                  <md-list>
                    <md-list-item>
                      <p md-line class="total-hd-txt"> Total Level Promotions </p>
                      <p md-line class="mt10 lh50">
                        <span class="total-per"> {{dtdTotalNotices.promotion_change_pct}}% </span>
                        <img src="assets/{{dtdTotalNotices.promotion_change_indicator}}.svg" class="status-icon" />
                        <span class="total-value"> {{dtdTotalNotices.promotion_count}} </span>
                      </p>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </div>
          </md-tab>
        </md-tab-group>
      </div>
    </div>
    <div class="flex-container content-wrap" fxLayout="row">
      <div class="flex-item" fxFlex="32%">
        <div class="content-type margin-zero">
          <chart [options]="contentType"></chart>
        </div>
        <div class="content-type lower">
          <chart *ngIf="dtdSelected" [options]="methodViolationDTD"></chart>
          <chart *ngIf="ytdSelected" [options]="methodViolationYTD"></chart>
          <chart *ngIf="qtdSelected" [options]="methodViolationQTD"></chart>
          <chart *ngIf="mtdSelected" [options]="methodViolationMTD"></chart>
        </div>
      </div>
      <div class="flex-item display-flex" fxFlex="68%">
        <div class="flex-container chart-bg display-flex" fxLayout="row">
          <div class="flex-item" fxFlex="15%">
            <div class="legend-wrap">
              <p class="legend-box l8-color"></p>
              <p class="legend-txt">level 8</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l7-color"></p>
              <p class="legend-txt">level 7</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l6-color"></p>
              <p class="legend-txt">level 6</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l5-color"></p>
              <p class="legend-txt">level 5</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l4-color"></p>
              <p class="legend-txt">level 4</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l3-color"></p>
              <p class="legend-txt">level 3</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l2-color"></p>
              <p class="legend-txt">level 2</p>
            </div>
            <div class="legend-wrap">
              <p class="legend-box l1-color"></p>
              <p class="legend-txt">level 1</p>
            </div>
          </div>
          <div class="flex-item display-flex" fxFlex="85%">
            <div class="flex-item" fxFlex="20%">
              <chart *ngIf="ytdSelected" [options]="violationYTD"></chart>
              <chart *ngIf="qtdSelected" [options]="violationQTD"></chart>
              <chart *ngIf="mtdSelected" [options]="violationMTD"></chart>
              <chart *ngIf="dtdSelected" [options]="violationDTD"></chart>
            </div>
            <div class="flex-item pos-rel" fxFlex="82%">
              <div class="error-text">No Data Available</div>
              <chart *ngIf="ytdSelected" [options]="totalUploadsYTD"></chart>
              <chart *ngIf="qtdSelected" [options]="totalUploadsQTD"></chart>
              <chart *ngIf="mtdSelected" [options]="totalUploadsMTD"></chart>
              <chart *ngIf="dtdSelected" [options]="totalUploadsDTD"></chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!searchItem">
    <div class="content-wrap flex-container" fxLayout="row">
      <h1 class="user-name">{{subscriberDetails.name}} <span class="user-level">Level {{subscriberDetails.level}} </span><span class="since-txt">Member since {{subscriberDetails.joining_year}}</span></h1>
    </div>
    <div class="content-wrap flex-container" fxLayout="row">
      <div class="flex-item" fxFlex="70%">
        <div class="flex-container" fxLayout="row">
          <div class="flex-item user-detail-wrap" fxFlex="50%">
            <!-- <p class="user-detail">{{subscriberDetails.address}}</p> -->
            <p class="user-detail address-1">{{subscriberDetails.house_number}} {{subscriberDetails.street_name}}</p>
            <p class="user-detail address-2">{{subscriberDetails.state}} {{subscriberDetails.zipcode}}</p>
            <p class="user-detail phoneNo">516-473-2233</p>
            <p class="user-detail email">{{subscriberDetails.email}}</p>
            <p class="user-detail accountNo">Account# {{subscriberDetails.id}}</p>
          </div>
          <div class="flex-item user-wan-wrap" fxFlex="50%">
            <h3 class="gray-hd">WAN</h3>
            <div class="wan-status">
              <p class="fleft">
                <u>status</u>
              </p>
              <p class="success-box" [ngClass]="{'active': status == 'active' , 'suspended':status == 'temp suspended', 'terminated':status == 'suspended'}"></p>
            </div>
            <div class="wan-status">
              <p class="fleft">
                <u></u>
              </p>
              <p class="success-box1" [ngClass]="{'active': status == 'active' , 'suspended':status == 'temp suspended', 'terminated':status == 'suspended'}">{{status}}</p>
            </div>
            <p class="wan-ip">WAN IP Address <span class="fright">{{subscriberDetails.wan_ip}}</span></p>
            <p class="dns-ip">DNS Server <span class="fright">{{subscriberDetails.dns_primary}}</span><span class="fright">{{subscriberDetails.dns_secondary}}</span></p>
          </div>
        </div>
        <div class="download-list-wrap">
          <!--<violation-details></violation-details>-->
          <h4 class="violations-total">Violations: total {{violationCount}} Violations</h4>
          <div class="violation-list" *ngFor="let vio of violationList;let i=index">
            <div class="violation-wrap">
              <p class="violation-level" (click)="violationOpen(i)">{{vio.level}}: {{vio.infrigements}} Violations</p>
              <!--<div *ngIf="vio.vioLoader">
                  <md-progress-spinner mode="indeterminate" color="primary" class="vio-loader"></md-progress-spinner>
                </div>-->
            </div>
            <div *ngIf="vio.showViolationDetails">
              <div class="download-list" *ngFor="let item of vio.infrigements_list;let index=index" [class.actTab]="item.showInfringementDetails">
                <div class="flex-container select-detail" fxLayout="row" (click)="filmOpen(index,i)">
                  <div class="flex-item fleft height1" fxFlex="5%">
                    <md-icon class="primary-color white-color">{{item.infringement_icon}}</md-icon>
                  </div>
                  <div class="flex-item fleft" fxFlex="65%">
                    <p class="film-name">{{item.infringed_content}}</p>
                  </div>
                  <div class="flex-item fleft" fxFlex="15%">
                    <p class="down-date">{{item.display_date}}</p>
                  </div>
                  <div class="flex-item fleft" fxFlex="15%">
                    <p class="outstand-txt">{{item.status}}</p>
                  </div>
                </div>
                <div class="expand-wrap" *ngIf="item.showInfringementDetails">
                  <div class="flex-container" fxLayout="row">
                    <div class="flex-item" fxFlex="70%">
                      <div class="flex-container film-details" fxLayout="row">
                        <p class="gray-xsmall-txt">Service Used</p>
                        <p class="primary-xsmall-txt">{{item.subscriber_service_used}} </p>
                      </div>
                      <div class="flex-container film-details" fxLayout="row">
                        <p class="gray-xsmall-txt">Hash Value</p>
                        <p class="primary-xsmall-txt">{{item.hash_value}}</p>
                      </div>
                      <div class="flex-container mb10" fxLayout="row">
                        <div class="flex-item" fxFlex="50%">
                          <p class="gray-xsmall-txt">Device Name</p>
                          <p class="primary-xsmall-txt">Andriodi2309888822</p>
                        </div>
                        <div class="flex-item" fxFlex="50%">
                          <p class="gray-xsmall-txt">Device IP in LAN</p>
                          <p class="primary-xsmall-txt">192.168.216</p>
                        </div>
                      </div>
                      <div class="flex-container mb10" fxLayout="row">
                        <div class="flex-item" fxFlex="50%">
                          <p class="gray-xsmall-txt">Declaration of Accuracy</p>
                          <p class="primary-xsmall-txt">{{item.declared_by}}</p>
                        </div>
                        <div class="flex-item" fxFlex="50%">
                          <p class="gray-xsmall-txt">Signed</p>
                          <p class="primary-xsmall-txt">{{item.signed_by}}</p>
                        </div>
                      </div>
                      <div class="flex-container film-details" fxLayout="row">
                        <p class="gray-xsmall-txt">Dispute Control</p>
                        <div class="dispute-select">
                          <md-select placeholder="Resend Code">
                            <md-option>Blank</md-option>
                            <md-option>Subscriber owns content</md-option>
                            <md-option>Incorrect Notification</md-option>
                            <md-option>Other</md-option>
                          </md-select>
                        </div>
                        <div class="downgrade-select">
                          <md-select placeholder="Downgrade">
                            <md-option *ngFor="let i of item.downgradeList">{{i}}</md-option>
                          </md-select>
                        </div>
                        <p class="link-txt">Send Dispute Form</p>
                      </div>
                      <div class="flex-container" fxLayout="row">
                        <button md-raised-button color="primary" class="auto-prime-btn">Resend Email</button>
                      </div>
                    </div>
                    <div class="flex-item" fxFlex="30%">
                      <div class="flex-container film-details" fxLayout="row">
                        <p class="gray-xsmall-txt">Date of Abuse</p>
                        <p class="primary-xsmall-txt">{{item.display_abuse_date}}</p>
                      </div>
                      <div class="flex-container film-details" fxLayout="row">
                        <p class="gray-xsmall-txt">Date Received by ISP</p>
                        <p class="primary-xsmall-txt">{{item.display_received_date}}</p>
                      </div>
                      <!--<div class="downgrade-select">
                         <md-select placeholder="Downgrade">
                              <md-option>1</md-option>
                              <md-option>2</md-option>
                              <md-option>3</md-option>
                              <md-option>4</md-option>
                            </md-select>
                        </div>-->
                      <div class="flex-container" fxLayout="row">
                        <div class="ack-btn" *ngIf="vioBtn">
                          <button md-raised-button color="primary" [ngClass]="{'action-complete' : item.actionComplete}" (click)="acknowledgeClick(item)">Acknowledge</button>
                        </div>
                        <div class="ack-btn" *ngIf="!vioBtn">
                          <button md-raised-button color="primary">Training Completed</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item log-width" fxFlex="30%">
        <div class="log-wrap display-flex">
          <img width="288px" height="230" src="/assets/device-log-ss.jpg" />
        </div>
        <div class="vio-history">
          <chart [options]="historyOption"></chart>
        </div>
      </div>
    </div>
  </div>
  <div class="watermark">Powered By Rainfall</div>
</div>
<div class="loader-wrap" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>
