.dashboard-wrap {
    margin-top: 15px;
    width: 100%;
}
.business-chart{
    position: relative;
    background: #B4AFAF;
    float: left;
    width: 100%;
    margin: 0 0 15px; 
}
.business-line {
    background: #B4AFAF;
    float: left;
    height: 344px;
    overflow: hidden;
    // margin: 30px;
    margin: 1%;
}
.flex-item.business-line{
    width: 43% !important;
}
.flex-item.business-line.ml0{
    width: 28% !important;
}
.flex-item.business-line.total-status-list.ml0{
    width: 25% !important;
}
.rotate180{
    transform: rotate(180deg);
}
.business-scroll{
    height: 347px;
    overflow: auto;
    background: #6E7191;
    width: 100%;
    overflow-x: hidden;
}
.business-scroll::-webkit-scrollbar {
    width: 10px;
    background: #ccc;
}
 
.business-scroll::-webkit-scrollbar-track {
    background: transparent;  
    border-radius: 10px;
}
.business-scroll::-webkit-scrollbar-thumb {
    background: $secondary; 
    min-height: 10px !important;
    height: 10px !important;
    border-radius: 10px;
}
.owner-id {
    margin: 0;
    font-size: 15px;
    padding-top: 10px;
    color: #fff;
    padding-left: 10px
}
.owner-id.owner-pos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    padding-top: 0;
}
.owner-value {
    font-weight: 300;
    margin: 0;
    color: #fff;
    font-size: 36px;
    text-align: right;
    padding-right: 15px;
}
.total-hd-txt {
    font-size: 12px !important;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.total-per {
    color: #fff;
    font-size: 24px;
}

.status-icon {
    color: #fff;
    font-size: 25px;
    height: 28px;
    width: 20px;
    margin-top: -10px;
    margin-left: 16px;
}

.total-value {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    float: right;
}

.search-list-wrap {
    position: absolute;
    top: 43px;
    z-index: 1111;
    background: #fff;
    width: 100%;
    border: 1px solid #b0b0b0;
}
.search-list{
    padding: 7px 15px;
    cursor: pointer;
}
// .search-list:first-child{
//     padding-top: 15px;
// }
.search-list:hover{
    border-left: 5px solid #979797;
    background:#eee;
}
.search-name {
    margin: 0;
    text-transform: capitalize;
}

.search-detail {
    margin: 0;
    text-transform: capitalize;
}
.user-name, .user-level {
    margin: 15px 0;
    font-weight: 500;
    font-size: 30px;
    text-transform: capitalize;
    width: 100%;
    color: $text-primary;
}
.user-level {
    font-weight: 200;
}
.since-txt{
    display: inline-block;
    font-weight: 200;
    font-size: 22px;
    float: right;
    margin-top: 9px;
    text-transform: initial;
}
.user-detail-wrap {
    background: #494B62;
    margin-right: 15px;
}

.user-detail {
    margin: 0;
    color: #fff;
    padding: 15px;
}

.user-wan-wrap {
    background: #fff;
    margin-right: 15px;
    padding: 15px;
}

.gray-hd {
    color: #494B62;
    margin: 0;
}

.wan-status {
    width: 50%;
    float: left;
    color: blue;
    text-transform: capitalize;
    padding-top:5px;
}
.success-box {
    margin: 0;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 25px;
}
.success-box1.active{
    display: none;
    background: none;
    text-align: right;
}
.success-box1.suspended{
    color: orange;
    background: none;
    text-align: right;
}
.success-box1.terminated{
    color: red;
    text-align: right;
    background: none;
}
.active{
    background: $success-color;    
}
.suspended{
    background: $suspended; 
    color: orange;   
}
.terminated{
    background: $terminated; 
    color: red;   
}
.user-wan-wrap .wan-status u {
	color: #4E92DF;
}

.user-wan-wrap .wan-status u:second-child {
	color: #87CEFA;
	padding-left: 60px;
}

.wan-ip, .dns-ip {
    width: 100%;
    clear: both;
    margin: 0;
    color: #494B62;
}
.wan-ip{    
    border-bottom: 1px solid;
}

.user-detail-wrap {
	padding: 5px 5px 5px 25px;
	
	p {
		padding: 4px;
	}
	
	.phoneNo{
		padding-top: 8px;
	}
}
	
.download-list-wrap{
    width: 100%;
    float: left;
    margin-top: 15px;
    padding-right: 30px;
}
.download-list {
    width: 100%;
    clear: both;
    background: #fff;
    float: left;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}

.select-detail{
    padding: 10px;
}
.film-name, .outstand-txt, .down-date {
    margin: 0;
}
.action-complete{
    color:gray !important; 
    pointer-events: none;
    opacity: 0.4;  
}
.actTab{
    background: #eee !important;
}
.actTab .select-detail{
    background: $primary;
}
.actTab .film-name, .actTab .outstand-txt, .actTab .down-date, .actTab .white-color {
    color:#fff !important;
}
.down-detail{
    float: left;
}
.expand-wrap{
    padding: 10px;
    position: relative;
}

h4.violations-total{
    fontFamily: 'Roboto,sans-serif';
    font-weight: 200;
}
.violation-level {
    fontFamily: 'Roboto,sans-serif';
    margin: 0;
    padding: 10px;
    background: $secondary;
    color: #fff;
    text-transform: capitalize;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
}
.total-status-bg{
    background: $secondary !important;
}
.log-txt {
    margin: 0;
}

.log-wrap {
    height: 230px;
    background: #B4AFAF;
    /* padding: 15px; */
}

md-input.log-input {
    width: 100%;
    margin: 0 !important;
    background: #fff;
    padding: 0 10px;
}
.log-cont {
    background: $secondary;
    height: 115px;
    margin: 10px 0;
}
.notices-chart{
    margin-left: auto;
    margin-right: auto;
    chart svg .highcharts-grid.highcharts-yaxis-grid {
    	background-color: #B4AFAF;
    }
}
.vio-history {
    margin-top: 15px;
    background: #494b62;
    chart svg .highcharts-grid.highcharts-yaxis-grid {
    	background-color: #B4AFAF;
    }
}
.chart-bg {
    background: #fff;
    padding: 15px;
    /* margin-top: -2.25px; */
}
.legend-box {
    margin: 0;
    width: 15px;
    height: 15px;
    background: #ccc;
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}

.legend-txt {
    color: #333333;
    font-size: 11.76px;
    margin: 3px;
    float: left;
    text-transform: capitalize;
    text-align: center;
}

.legend-wrap {
    width: 100%;
    float: left;
}
.l8-color{
    background: #7ED321 !important; 
}
.l7-color{
    background: #B8E986 !important; 
}
.l6-color{
    background: #FFC31F !important; 
}
.l5-color{
    background: #FC7B22 !important; 
}
.l4-color{
    background: #FE3E81 !important; 
}
.l3-color{
    background: #BB1B2E !important; 
}
.l2-color{
    background: #6E7191 !important; 
}
.l1-color{
    background: #404256 !important; 
}

.content-type .highcharts-legend text{
    vertical-align: center !important;
}

.content-type.lower {
    margin-top: 10px;
}

.flex-container.content-wrap{
    width:86% !important
}

.notice-hd {
    width: 40%;
    float: left;
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}

.notice-value {
    width: 50%;
    float: left;
    color: #fff;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 5px;
}
.total-notice-img {
    width: 284px;
    height: 215px;
    margin: 7px auto;
}
.total-notice-bg{
    background: #494b62;
    // padding: 15px 0;
    // border-bottom: 1px solid #B4AFAF;
}

// .business-line div {
// 	border-bottom: 1px solid #B4AFAF;
// }

.vio-loader {
    position: absolute;
    width: 30px;
    top: 10px;
    height: 30px;
    right: 15px;
}

.violation-wrap {
    position: relative;
    clear: both;
}

.film-details {margin-bottom: 10px;display: block !important;}

.gray-xsmall-txt {
    color: #b4afaf;
    margin: 0;
    font-size: 13px;
}

.primary-xsmall-txt {
    color: $text-primary;
    margin: 0;
    font-size: 13px;
}
.mb10 {
    margin-bottom: 10px;
}

.dispute-select {
    // width: 50%;
    clear: both;
    display: block;
    min-width: 229px;
}

.ack-btn{
    position: absolute;
    bottom: 10px;
}

.link-txt {
    margin: 10px 0;
    text-decoration: underline;
    color: #09c;
}

.search-progress {
    position: absolute;
    float: left;
    width: 100%;
    bottom: 0px;
}
.split-line{
    position: absolute;
    width: 2.5px;
    height: 117%;
    background: #b4afaf;
    top: -15px;
    margin: 0;
    right: 15%;
}
.total-notice-bg{
     background: #494b62;
    //  padding: 15px 0;
     border-bottom: 1px solid #B4AFAF;
}
.business-line div {
	border-bottom: 1px solid #B4AFAF;
}
.split-line-x{
        position: absolute;
    width: 117%;
    height: 2.5px;
    background: #b4afaf;
    left: -43px;
    top: 42%;
}

.business-scroll .flex-container{
    height: 20%;
}

.flex-container.total-notice-bg.padding-zero{
    height: 100%;
}
.content-type, .content-type.lower{
    background: #fff;
}
.right-border{
    border-right: 2px solid #B4AFAF;
}
.btm-border{
    border-bottom: 2px solid #B4AFAF;
}
.pos-center{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    border-bottom: 0 !important;
}
.pos-center .owner-id{
    padding: 10px 0 0 0 !important;
}