<!--<h1>Welcome to DMCA Portal!</h1>
<dmca-login></dmca-login>-->

<!--<a [routerLink]="['/']">Home</a>-->

<div class="outer-outlet">
  <router-outlet></router-outlet>
  <div class="loader-wrap"  *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
  </div>
</div>