
.vol-card{
    width: 265px;
    margin: 2em 0 2em 2em;
    height: 417px;
}

.vol-card md-card-footer {
    display: flex;
    flex-direction: column;
}
.vol-card md-card-title {
    text-align: center;
    font-weight: bold;
        font-size: 17px;
}

.vol-card md-card-content{
        font-size: 15px;
        color: $vol-txt-color;
        text-align: center;
}

.vol-card button{
    margin: 5px 20px 20px 20px;
    color:$btn-txt-color;
    font-weight: 500;
    letter-spacing: 1.8px;
}

.vol-card i {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 35px;
}

.material-icons.md-76 { 
    font-size: 76px; 
    color:$primary;
}

.card-icon{
    width: 70px;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.add-vio-txt{
    color: #fff;
    text-decoration: none;
}

.vol-card .btn-container button{
    display: inline-block !important;
    float: left;
    width: 38%;
    text-transform: uppercase !important;
    background-color: #BA1F30;
    margin: 5px 15px 20px 16px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 5px 20px 20px 20px;
    background-color:$primary;
    color:#fff;
    letter-spacing: 1.8px;
    font-weight: 500;
    cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    filter: alpha(opacity=0);
}
.mb2{
    margin-bottom: 2em !important;
}
.iframe-wrap::-webkit-scrollbar {
    width: 10px;
}
 
.iframe-wrap::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
}
.iframe-wrap{
    margin: 2em !important;
}
.iframe-wrap::-webkit-scrollbar-thumb {
    background: #ccc; 
    height: 50px;
    border-radius: 10px;
}

