<dmca-header></dmca-header>
<div class="flex-container flex-block" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item submission-wrap">
    <md-card class="vol-card">
      <md-card-header class="subs-header">
        <md-card-title>MANUAL COPYRIGHT INFRINGEMENT NOTIFICATION</md-card-title>
      </md-card-header>
      <!--<i class="material-icons md-76">report</i>-->
      <img [src]="manual" class="card-icon"/>
      <md-card-content>
        <p>To submit and track individual infringement, please use our manual form</p>
      </md-card-content>
      <md-card-footer>
        <button md-raised-button color="primary" (click)="onManualSub()">SUBMIT</button>
      </md-card-footer>
    </md-card>
  </div>
  <div class="flex-item submission-wrap">
    <md-card class="vol-card">
      <md-card-header class="subs-header">
        <md-card-title>EMAIL COPYRIGHT INFRINGEMENT NOTIFICATION</md-card-title>
      </md-card-header>
      <i class="material-icons md-76" style="margin-top: 25px; margin-bottom:25px;">mail_outline</i>
      <md-card-content>
        <p>To submit infringement via email, please download the <a>template</a></p>
        <p><a (click)="mlClick()">Beta Machine Learning Link</a></p>
      </md-card-content>
      <md-card-footer>
        <button md-raised-button color="primary" (click)="mailViolation()">
          SUBMIT          
        </button>
      </md-card-footer>
    </md-card>
  </div>
  <div class="flex-item submission-wrap">
    <md-card class="vol-card">
      <md-card-header class="subs-header">
        <md-card-title>BULK COPYRIGHT INFRINGEMENT NOTIFICATION</md-card-title>
      </md-card-header>
      <i class="material-icons md-76" style="margin-top: 25px; margin-bottom:25px;">open_in_browser</i>
      <md-card-content>
        <p>Bulk Uploads support Microsoft Excel and Google Sheets. DMCA can sync with directory from <a>Google Drive</a>, <a>DropBox</a>, or <a>Box</a> </p>
      </md-card-content>
      <md-card-footer>
        <div class="fileUpload" md-raised-button color="primary">
          <span>SYNC</span>
          <input type="file" (change)="fileChangeEvent($event)" class="upload" accept="application/x-zip-compressed" />
        </div>
        <!--<button md-raised-button color="primary" (click)="onSyncClick()">SYNC</button>-->
         <!--<input type="file" (change)="fileChangeEvent($event)" />-->
      </md-card-footer>
    </md-card>
  </div>
  <div class="flex-item submission-wrap">
    <md-card class="vol-card">
      <md-card-header class="subs-header">
        <md-card-title>DYNAMIC INTEGRATION</md-card-title>
      </md-card-header>
      <!--<i class="material-icons md-76">build</i>-->
      <img class="card-icon" [src]="handshake" style="width: 82px !important;margin-top: 25px; margin-bottom:25px;" />
      <md-card-content>
        <p>We can integrate directly with your internal systems and completely automate the process. Please download our API
          SDK to get started.</p>
      </md-card-content>
      <md-card-footer>
        <button md-raised-button color="primary">GET THE SDK</button>
      </md-card-footer>
    </md-card>
  </div>
</div>

<div class="flex-container mb2  flex-block" fxLayout="row" fxLayoutAlign="center center">
  <!--<iframe class="iframe-wrap" height="251" [width]="iframeWidth" style="border:none" src="https://coxbusphdid01.azurehdinsight.net/zeppelin/#/notebook/2C6X5MU4T/paragraph/20170118-201647_1917591341?asIframe"></iframe>-->
  <!--<img [src]="content" />-->
  <chart [options]="options"></chart>
  <div class="watermark">Powered By Rainfall</div>
</div>
<div class="loader-wrap"  *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div> 