<dmca-header></dmca-header>
<!--<timepicker [(ngModel)]="mytime"></timepicker>-->
    <p-growl [value]="msgs" life="3000"></p-growl>

<div class="flex-container" fxLayout="row">
    <form [formGroup]="manualSubmission" class="form-wrap">
        <h4 class="title-txt">MANUAL VIOLATION SUBMISSION</h4>
        <div class="input-wrap">
            <h4 class="input-hd">content details</h4>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="33">
                    <md-input formControlName="case_id" type="number" placeholder="Case Identifier" [class.errorBorder]="!manualSubmission.controls['case_id'].valid && manualSubmission.controls['case_id'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['case_id'].valid && manualSubmission.controls['case_id'].touched">Invalid Case Identifier</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['case_id'].valid && manualSubmission.controls['case_id'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['case_id'].valid && manualSubmission.controls['case_id'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="20">
                    <md-input formControlName="owner_entity_name" type="text" placeholder="Owner" [class.errorBorder]="!manualSubmission.controls['owner_entity_name'].valid && manualSubmission.controls['owner_entity_name'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['owner_entity_name'].valid && manualSubmission.controls['owner_entity_name'].touched">Please enter your content owner</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['owner_entity_name'].valid && manualSubmission.controls['owner_entity_name'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['owner_entity_name'].valid && manualSubmission.controls['owner_entity_name'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="40">
                    <md-input formControlName="owner_email" type="text" placeholder="Owner Email" [class.errorBorder]="!manualSubmission.controls['owner_email'].valid && manualSubmission.controls['owner_email'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['owner_email'].valid && manualSubmission.controls['owner_email'].touched">Please enter your content owner email</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['owner_email'].valid && manualSubmission.controls['owner_email'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['owner_email'].valid && manualSubmission.controls['owner_email'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
            </div>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="40%">
                    <md-select placeholder="CHOOSE CONTENT TYPE" class="content-option">
                        <md-option>Movies</md-option>
                        <md-option>Songs</md-option>
                        <md-option>TV Shows</md-option>
                        <md-option>Games</md-option>
                        <md-option>Apps</md-option>
                        <md-option>Images</md-option>
                        <md-option>Software</md-option>
                        <md-option>Books</md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="input-wrap">
            <h4 class="input-hd">infringement details</h4>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="53%">
                    <md-input formControlName="provider_entity_name" type="text" placeholder="ISP Name" [class.errorBorder]="!manualSubmission.controls['provider_entity_name'].valid && manualSubmission.controls['provider_entity_name'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['provider_entity_name'].valid && manualSubmission.controls['provider_entity_name'].touched">Please enter the ISP Name</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['provider_entity_name'].valid && manualSubmission.controls['provider_entity_name'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['provider_entity_name'].valid && manualSubmission.controls['provider_entity_name'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="40%">
                    <md-input type="text" formControlName="provider_email" placeholder="ISP Email" [class.errorBorder]="!manualSubmission.controls['provider_email'].valid && manualSubmission.controls['provider_email'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['provider_email'].valid && manualSubmission.controls['provider_email'].touched">Please enter the ISP's email</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['provider_email'].valid && manualSubmission.controls['provider_email'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['provider_email'].valid && manualSubmission.controls['provider_email'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
            </div>

            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="33">
                    <!--<div class="time-input" (click)="showTime()"></div>-->
                    <md-input formControlName="timestamp_infringed" [(ngModel)]="formattedDate" type="text" placeholder="Violation Time stamp"
                        [class.errorBorder]="!manualSubmission.controls['timestamp_infringed'].valid && manualSubmission.controls['timestamp_infringed'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['timestamp_infringed'].valid && manualSubmission.controls['timestamp_infringed'].touched">Please enter your Timestamp of Violation</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['timestamp_infringed'].valid && manualSubmission.controls['timestamp_infringed'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['timestamp_infringed'].valid && manualSubmission.controls['timestamp_infringed'].touched">
                        <md-icon>done</md-icon>
                    </div>
                    <div class="date-icon" (click)="showTime()">
                        <md-icon>date_range</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="20">
                    <md-input formControlName="subscriber_ip" type="text" placeholder="IP Address" [class.errorBorder]="!manualSubmission.controls['subscriber_ip'].valid && manualSubmission.controls['subscriber_ip'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['subscriber_ip'].valid && manualSubmission.controls['subscriber_ip'].touched">Please enter your IP Address</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['subscriber_ip'].valid && manualSubmission.controls['subscriber_ip'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['subscriber_ip'].valid && manualSubmission.controls['subscriber_ip'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="40">
                    <md-input formControlName="hashvalue" type="text" placeholder="Hash Value of File" [class.errorBorder]="!manualSubmission.controls['hashvalue'].valid && manualSubmission.controls['hashvalue'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['hashvalue'].valid && manualSubmission.controls['hashvalue'].touched">Please enter the hash value of the file</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['hashvalue'].valid && manualSubmission.controls['hashvalue'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['hashvalue'].valid && manualSubmission.controls['hashvalue'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
            </div>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="53%">
                    <md-input formControlName="infringed_content" type="text" placeholder="Title" [class.errorBorder]="!manualSubmission.controls['infringed_content'].valid && manualSubmission.controls['infringed_content'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['infringed_content'].valid && manualSubmission.controls['infringed_content'].touched">Please enter content title</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['infringed_content'].valid && manualSubmission.controls['infringed_content'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['infringed_content'].valid && manualSubmission.controls['infringed_content'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
                <div class="input-field" fxFlex="40%">
                    <md-input type="text" formControlName="infringed_filename" placeholder="Title Filename" [class.errorBorder]="!manualSubmission.controls['infringed_filename'].valid && manualSubmission.controls['infringed_filename'].touched"
                        class="input-value"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['infringed_filename'].valid && manualSubmission.controls['infringed_filename'].touched">Please enter content file name</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['infringed_filename'].valid && manualSubmission.controls['infringed_filename'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['infringed_filename'].valid && manualSubmission.controls['infringed_filename'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
            </div>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="53%">
                    <md-input type="text" formControlName="service_used" placeholder="Service Used" class="input-value"></md-input>
                </div>
                <div class="input-field" fxFlex="40%">
                    <md-input type="text" formControlName="subscriber_port" placeholder="Port Number" class="input-value"></md-input>
                </div>
            </div>
        </div>
        <div class="input-wrap">
            <h4 class="input-hd">submitter information</h4>
            <div class="input-cont flex-container" fxLayout="row">
                <!--<div class="input-field pad-left0" fxFlex="46%">
                    <md-input formControlName="email" type="text" placeholder="Contact Email" class="input-value"   [class.errorBorder]="!manualSubmission.controls['email'].valid && manualSubmission.controls['email'].touched"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['email'].valid && manualSubmission.controls['email'].touched">Please enter your validate email</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['email'].valid && manualSubmission.controls['email'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['email'].valid && manualSubmission.controls['email'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>-->
                <div class="input-field pad-left0" fxFlex="47%">
                    <md-input formControlName="digital_signature" type="text" placeholder="Digital Signature" class="input-value" [class.errorBorder]="!manualSubmission.controls['digital_signature'].valid && manualSubmission.controls['digital_signature'].touched"></md-input>
                    <p class="error-txt" *ngIf="!manualSubmission.controls['digital_signature'].valid && manualSubmission.controls['digital_signature'].touched">Digital Signature is needed</p>
                    <br/>
                    <div class="clear-icon" *ngIf="!manualSubmission.controls['digital_signature'].valid && manualSubmission.controls['digital_signature'].touched">
                        <md-icon>clear</md-icon>
                    </div>
                    <div class="ok-icon" *ngIf="manualSubmission.controls['digital_signature'].valid && manualSubmission.controls['digital_signature'].touched">
                        <md-icon>done</md-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-wrap bg-trans margin-zero">
            <h4 class="input-hd">Declaration</h4>
            <div class="input-cont flex-container" fxLayout="row">
                <div class="input-field pad-left0" fxFlex="100%">
                    <div class="content-check">
                        <md-checkbox type="checkbox " color="primary" formControlName="accuracy_flag">
                            <p class="lh20 tt-initial">The information in this <span>notification is accurate</span></p>
                        </md-checkbox>
                    </div>
                    <div class="content-check">
                        <md-checkbox type="checkbox " color="primary" formControlName="good_faith_flag" class="fleft">
                            <p class="lh20 tt-initial">The signator above has a <span>good faith belief</span> that use of the material in the manner complained of herein is not authorized by the copyright owner, its agent, or by operation of law.</p>                            
                        </md-checkbox>
                    </div>
                </div>
                <div class="input-field pad-left0" fxFlex="10%">
                    <div class="content-submit">
                        <button md-raised-button color="primary" (click)="callApi()" [disabled]="!manualSubmission.valid">submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<simple-notifications [options]="options"></simple-notifications>-->
    </form>
    <div class="watermark">Powered By Rainfall</div>
</div>
<div class="loader-wrap" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary" class="loader"></md-progress-spinner>
</div>
<div class="model-wrap" [class.model-visible]="modelVisible">
    <div class="model-cont">
        <datepicker [(ngModel)]="date" [showWeeks]="false"></datepicker>
        <div class="time-pick-wrap">
            <timepicker [(ngModel)]="mytime" [showMeridian]="false"></timepicker>
        </div>
        <div class="model-btn-wrap">
            <button md-raised-button color="primary" class="model-btn" (click)="showTime()">cancel</button>
            <button md-raised-button color="primary" class="model-btn" (click)="timeApply()">apply</button>
        </div>
    </div>
</div>