
.content-check span, .check-txt{
    color: $primary;
    cursor: pointer;
}
.check-txt{
    margin: 0;
    float: left;
    line-height: 20px;
}
.fleft{
    float: left !important;
}
.content-submit{
    position: absolute;
    bottom: 15px;
    right: 0;
}
.margin-zero{
    margin: 0 !important;
}
.input-value {
    width: 100%;
}
.error-txt {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    color: $error-color;
}

.clear-icon, .ok-icon {
    position: absolute;
    top: 20px;
    right: -10px;
    color: $error-color;
}
.ok-icon{
    color: $success-color;
}
.title-txt {
    margin: 20px 0 0;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    color:$text-secondary;
}
.time-input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 11;
    cursor: pointer;
}

.time-pick-wrap{
    position: absolute;
    right: 19%;
    top:30%;
}
.date-icon {
    position: absolute;
    top: 18px;
    right: 15px;
    color: $text-secondary;
    cursor: pointer;
}