<dmca-header></dmca-header>
<!-- Sidebar -->
	<div class="example-sidenav-fab-container" id="manage-sidenav">
		<md-sidenav class="md-sidenav-left" mode="side" opened="true" md-component-id="left">
	        <md-list class="accordion">
	            <md-list-item data-target="#manage-rules" class="active-nav" (click)="showRules = !showRules;" [routerLink]="['/manage']">
	            	<img class="material-icons manage-rules" src="/assets/admin-rules2.png">
	            	<p class="sidenav-text">Manage Rules <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="manage-rules" [style.display]="expandRulesMgmt()">
		            <li class="active-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#API" class="inactive-nav" (click)="showAPIs = !showAPIs;" [routerLink]="['/apis']">
		            <img class="material-icons manage-rules" src="/assets/admin-security2.png">
		            <p class="sidenav-text">Manage APIs <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="API" [style.display]="expandAPIs()">
		            <li class="inactive-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#infra" class="inactive-nav" (click)="infrastructureGo()">
		            <img class="material-icons manage-rules" src="/assets/admin-integration2.png"> 
		            <p class="sidenav-text">Manage Infrastructure <span class="arrow"></span></p>
		        </md-list-item>
	        </md-list>
	    </md-sidenav>
    </div>

	<div id="page-content-wrapper">
	    <div class="flex-container content-wrap" fxLayout="row">
	      <div class="search-deploy search-exp">
	      <md-icon class="search-icon">search</md-icon>
	      <div class="search-input-wrap auto-complete-custom">
	        <md-input id="bundlesSearch" type="text" class="search-input" (ngModelChange)="autoComplete($event)" [(ngModel)]="searchName"
	          placeholder="Search Rules (Name or Rule Identifier)"></md-input>
	        <md-icon class="cancel-icon">mic</md-icon>
	      </div>
	    </div>
	    <div class="search-progress" *ngIf="searchProgress">
	      <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
	    </div>

	    <div class="search-md-list-itemst-wrap" *ngIf="searchName?.length > 2">
	      <div class="flex-container search-md-list-itemst" fxLayout="row" *ngFor="let item of searchItems | search:searchName" (cmd-list-itemck)="onSubscriberSelected(item)">
	        <div class="flex-item" fxFlex="20%">
	          <p class="search-name">{{item.name}}</p>
	        </div>
	        <div class="flex-item" fxFlex="60%">
	          <p class="search-detail">{{item.address}}</p>
	        </div>
	        <div class="flex-item" fxFlex="20%">
	          <p class="search-name">Level {{item.level}}</p>
	        </div>
	      </div>
	      <div class="flex-container search-md-list-itemst" fxLayout="row" *ngIf="notFound">
	        <p class="search-name">No Results Found. Try different search md-list-itemst</p>
	      </div>
	    </div>
	  </div>
	<br>

	<div class="flex-container content-wrap" >  
		<button class="btn btn-primary create-rule-cta" [routerLink]="['/create-rule']">
			<img src="/assets/add-white.png" alt="add icon" style="width:20px;height:20px;cursor:pointer"><span class="create-desc">Add Rule</span>
		</button>                                        
		<section id="rule1" > 
			<button class="accordion acc-panel" (click)="showRule = !showRule;">Subscriber received new infringement notification for the first time
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule()">
			  	<p class="flex-container select-detail rule-label">Rule Number 1 </p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier </p>
			  			<p class="primary-xsmall-txt">INF_LE_001</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group  </p>
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Subscriber received new infringement notification for the first time</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">All subscribers begin at Level 0, with no action required by ISP. Upon receiving the first complaint notification, this rule will move subscriber to Level 1 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity.</p>
			  			<p class="func-area">Functional Area </p>
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule2" >
			<button class="accordion acc-panel" (click)="showRule2 = !showRule2;">Level 1 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule2()">
			  <p class="flex-container select-detail rule-label">Rule Number 2 </p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier </p>
			  			<p class="primary-xsmall-txt">INF_LE_002</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group</p>
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 1 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p>
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (7 days for level 1 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 2 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and an In-Browser notification is displayed</p>
			  			<p class="func-area">Functional Area </p>
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule3">
			<button class="accordion acc-panel flex-container" (click)="showRule3 = !showRule3;">Level 2 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule3()">
			  <p class="flex-container select-detail rule-label">Rule Number 3 </p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_003</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 2 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (7 days for level 2 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 3 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and subscriber is directed to soft-wall garden</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule4">
			<button class="accordion acc-panel flex-container" (click)="showRule4 = !showRule4;">Level 3 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule4()">
			  <p class="flex-container select-detail rule-label">Rule Number 4</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_004</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 3 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (7 days for level 3 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 4 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and subscriber is directed to soft-wall garden</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule5">
			<button class="accordion acc-panel flex-container" (click)="showRule5 = !showRule5;">Level 4 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule5()">
			  <p class="flex-container select-detail rule-label">Rule Number 5</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_005</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 4 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (14 days for level 4 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 5 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and subscriber is directed to hard-wall garden</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule6">
			<button class="accordion acc-panel flex-container" (click)="showRule6 = !showRule6;">Level 5 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule6()">
			  <p class="flex-container select-detail rule-label">Rule Number 6</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_006</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 5 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (14 days for level 5 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 6 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and subscriber is directed to hard-wall garden,Training Video, and 21 days of Soft‐Walled Garden or IBN</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule7">
			<button class="accordion acc-panel flex-container" (click)="showRule7 = !showRule7;">Level 6 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule7()">
			  <p class="flex-container select-detail rule-label">Rule Number 7</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_007</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 6 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (21 days for level 6 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 7 and an email communication should be sent with a notice of the Complaint Notification received pertaining to the account's alleged infringing activity and subscriber is directed to hard-wall garden,Training Video, and 21 days of Soft‐Walled Garden or IBN</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule8">
			<button class="accordion acc-panel flex-container" (click)="showRule8 = !showRule8;">Level 7 subscriber received a new infringement notification after eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule8()">
			  <p class="flex-container select-detail rule-label">Rule Number 8</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_LE_008</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 7 subscriber received a new infringement notification after eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification, the rule will check if the notification received date is during eligible calendar days (21 days for level 7 subscribers). If the notification received after eligible calendar days, then  subscriber is moved to Level 8 and advanced notice of the termination date will be sent.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule9">
			<button class="accordion acc-panel flex-container" (click)="showRule9 = !showRule9;">Level 1 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule9()">
			  <p class="flex-container select-detail rule-label">Rule Number 9</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_001</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">No Action</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 1 subscriber received a new infringement notification during eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (7 days for Level 1), subscriber should not be escalated . Subscriber stays in current level (Level 1) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule10">
			<button class="accordion acc-panel flex-container" (click)="showRule10 = !showRule10;">Level 2 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule10()">
			  <p class="flex-container select-detail rule-label">Rule Number 10</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_002</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 2 subscriber received a new infringement notification during eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (7 days for Level 2), subscriber should not be escalated . Subscriber stays in current level (Level 2) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule11">
			<button class="accordion acc-panel flex-container" (click)="showRule11 = !showRule11;">Level 3 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule11()">
			  <p class="flex-container select-detail rule-label">Rule Number 11</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_003</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">No Action<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 3 subscriber received a new infringement notification during eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (7 days for Level 3), subscriber should not be escalated . Subscriber stays in current level (Level 3) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule12">
			<button class="accordion acc-panel flex-container" (click)="showRule12 = !showRule12;">Level 4 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule12()">
			  <p class="flex-container select-detail rule-label">Rule Number 12</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_004</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">No Action</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 4 subscriber received a new infringement notification during eligible calendar days</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (14 days for Level 4), subscriber should not be escalated . Subscriber stays in current level (Level 4) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule13">
			<button class="accordion acc-panel flex-container" (click)="showRule13 = !showRule13;">Level 5 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule13()">
			  <p class="flex-container select-detail rule-label">Rule Number 13</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_005</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">No Action</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 5 subscriber received a new infringement notification during eligible calendar days</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (14 days for Level 5), subscriber should not be escalated . Subscriber stays in current level (Level 5) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule14">
			<button class="accordion acc-panel flex-container" (click)="showRule14 = !showRule14;">Level 6 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule14()">
			  <p class="flex-container select-detail rule-label">Rule Number 14</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_006</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 6 subscriber received a new infringement notification during eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (21 days for Level 6), subscriber should not be escalated . Subscriber stays in current level (Level 6) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule15">
			<button class="accordion acc-panel flex-container" (click)="showRule15 = !showRule15;">Level 7 subscriber received a new infringement notification during eligible calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule15()">
			  <p class="flex-container select-detail rule-label">Rule Number 15</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_NA_007</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Level Escalation</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 7 subscriber received a new infringement notification during eligible calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Upon receiving the complaint notification during calendar eligible days (21 days for Level 7), subscriber should not be escalated . Subscriber stays in current level (Level 7) but receives an email notification with a compiled list of all alleged infringement activities.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule16">
			<button class="accordion acc-panel flex-container" (click)="showRule16 = !showRule16;">Level 1 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule16()">
			  <p class="flex-container select-detail rule-label">Rule Number 16</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_001</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 1 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 1 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule17">
			<button class="accordion acc-panel flex-container" (click)="showRule17 = !showRule17;">Level 2 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule17()">
			  <p class="flex-container select-detail rule-label">Rule Number 17</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_002</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 2 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 2 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule18">
			<button class="accordion acc-panel flex-container" (click)="showRule18 = !showRule18;">Level 3 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule18()">
			  <p class="flex-container select-detail rule-label">Rule Number 18</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_003</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 3 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 3 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule19">
			<button class="accordion acc-panel flex-container" (click)="showRule19 = !showRule19;">Level 4 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule19()">
			  <p class="flex-container select-detail rule-label">Rule Number 19</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">NF_RC_004</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 4 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 4 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule20">
			<button class="accordion acc-panel flex-container" (click)="showRule20 = !showRule20;">Level 5 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule20()">
			  <p class="flex-container select-detail rule-label">Rule Number 20</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_005</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 5 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 5 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule21">
			<button class="accordion acc-panel flex-container" (click)="showRule21 = !showRule21;">Level 6 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule21()">
			  <p class="flex-container select-detail rule-label">Rule Number 21</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_006</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 6 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 6 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
		<section id="rule22">
			<button class="accordion acc-panel flex-container" (click)="showRule22 = !showRule22;">Level 7 subscriber reset back to Level 0, if no new complaint for 180 calendar days
				<span class="desc"><img src="/assets/line-chart.png"><span class="desc-text">Active</span></span>
			</button>
			<div class="acc-content flex-container" [style.display]="expandRule22()">
			  <p class="flex-container select-detail rule-label">Rule Number 22</p>
			  	<div class="expand-wrap">
			  		<div class="flex-container" fxlayout="row">
			  			<p class="rule-id">Ruler Identifier</p>
			  			<p class="primary-xsmall-txt">INF_RC_007</p>
			  			<p class="rule-group">Rule Group </p>
			  			<p class="primary-xsmall-txt">Infringements</p>
			  			<p class="rule-subgroup">Sub Group<p> 
			  			<p class="primary-xsmall-txt">Reset Counter</p>
			  			<p class="rule-name">Rule Name </p>
			  			<p class="primary-xsmall-txt">Level 7 subscriber reset back to Level 0, if no new complaint for 180 calendar days</p>
			  			<p class="rule-desc">Rule Description</p> 
			  			<p class="primary-xsmall-txt">Subscriber in Level 7 should reset back to Level 0, if no new complaint notifications attributed to that Subscriber are received and processed for 180 calendar days.</p>
			  			<p class="func-area">Functional Area</p> 
			  			<p class="primary-xsmall-txt">General Council</p>
			  		</div>
			  	</div>
			</div>
		</section>
	</div>
	<div class="watermark">Powered By Rainfall</div>
</div>

