.material-icons.md-76-landing { 
    font-size: 76px; 
}

.land-card{
    /*width: 290px;*/
    height: 291px;
    /*margin:1em;*/
}

.md-card-header .md-card-header-text {
    width: 100% ;
}

.land-card md-card-footer {
    display: flex;
    flex-direction: column;
}
.land-card md-card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color:$landing-hd-color;
}

.land-card button{
    /* margin: 5px 100px 32px 100px;*/
    margin: 0px auto 2.5em;
    color: $btn-txt-color;
    font-weight: 500;
    letter-spacing: 1.8px;
    font-size: 16px;
    width: 76%;
    /* width: 298px; */
    height: 40px;
}

.land-card i {
    margin: 0 auto;
    width: 76px;
    display: flex;
}
.margin-auto{
    margin: 15px !important;
}
.card-wrap{
    margin: 16px 9px;
}
.pad-top2{
    padding-top: 62px;
    padding-bottom: 111px;
}

.width-100{
    width:100% !important;
}

.watermark {
    font-size: 14px;
    position: fixed;
    bottom: 10px;
    right: 12px;
    opacity: 0.5;
    z-index: 99;
    color: #A4A2A2;
}