<dmca-header></dmca-header>
<div class="pad-top2">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
        <!--<div>-->
        <div class="flex-item mob-width1" fxFlex="2%"></div>
        <div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>TRUSTED SUBMITTER</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">theaters</i>
                <md-card-footer>
                    <button md-raised-button color="primary" [routerLink]="['/submission']">SIGN IN</button>
                </md-card-footer>
            </md-card>
        </div>
        <div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>COPYRIGHT INFRINGEMENT PLATFORM ADMIN</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">settings</i>
                <md-card-footer>
                    <button md-raised-button color="primary" [routerLink]="['/manage']">SIGN IN</button>
                </md-card-footer>
            </md-card>
        </div>
        <div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>SUBSCRIBER</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">account_box</i>
                <md-card-footer>
                    <button md-raised-button color="primary" (click)="subscriberGo()">SIGN IN</button>
                </md-card-footer>
            </md-card>
        </div>
        <div class="flex-item" fxFlex="2%"></div>
    </div>
    <!--</div>-->
    <!--<div>-->
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="flex-item mob-width1" fxFlex="2%"></div>
        <div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>COPYRIGHT INFRINGEMENT TEAM</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">supervisor_account</i>
                <md-card-footer>
                    <button md-raised-button color="primary" [routerLink]="['/dashboard']">SIGN IN</button>
                </md-card-footer>
            </md-card>
        </div>
        <!--<div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>HELP DESK</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">live_help</i>
                <md-card-footer>
                    <button md-raised-button color="primary">SIGN IN</button>
                </md-card-footer>
            </md-card>
        </div>-->
        <div class="flex-item card-wrap" fxFlex="32%">
            <md-card class="land-card">
                <md-card-header style="height:55px;">
                    <md-card-title>OGC/BUSINESS</md-card-title>
                </md-card-header>
                <i class="material-icons md-76-landing">pie_chart</i>
                <md-card-footer>
                    <button md-raised-button color="primary" [routerLink]="['/ogc-dashboard']">SIGN IN</button>
                </md-card-footer>
            </md-card>
            <!--</div>-->
        </div>
        <div class="flex-item" fxFlex="2%"></div>
    </div>
    <div class="watermark">Powered By Rainfall</div>
</div>