create-rule {
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #create-rule-page-content-wrapper {
        padding: 20px;
        position: relative;
        width: 85%;
        margin-left: 15%;
        padding-bottom: 500px;
    }

    #wrapper.toggled #create-rule-page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.md-list-item, .accordion ul.sub-menu .md-list-text {
    color: #fff;
    font-size: 12px;
}

.accordion ul.sub-menu {
    display: none;
}

#create-rule-sidenav .md-sidenav-content {
    background-color: #fff;
}

#create-rule-sidenav{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #fff;
}

#create-rule-sidenav md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

md-sidenav.md-sidenav-left {
    height: 100%;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

.md-sidenav-backdrop, md-sidenav-backdrop {
    display:none;
}

#create-rule-page-content-wrapper {
    background-color: #fff;
    height: 100%;
    width: 85% !important;
    position: relative;
    float: left;
    padding: 15px;
    margin-left: 15% !important;
    padding-bottom: 650px;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #414258;
    border: gainsboro;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: 0.4s;
    position: relative;
    clear: both;

    img{
        display: inline;
        width: 20px;
        margin: 0 10px;
    }
}

span.desc {
    display: inline-block;
    text-align: right;
    float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: none;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #fff;
    color: #000;
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.accordion .sub-menu, .accordion .sub-menu li {
    list-style: none;
}

.accordion .sub-menu li {
    padding-bottom: 5px;
    cursor: pointer;
}

.accordion img.material-icons {
    width: 25px;
    padding-right: 5px;
}

md-sidenav p.sidenav-text{
    color: #95A5A6;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px !important;
    padding-left: 10px;
    margin: 0 !important;
}

.content-wrap{
    width: 100%;
    height: 100%;
    margin:0 auto;
    position:relative;
}

section {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 200;

    a.acc-panel, a.acc-panel:hover {
        color: #fff;
        text-decoration: none;
    }
}

section .acc-content {
    background-color: #eee;
    color: #A4A2A2;
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    clear: both;
    float: left;
    border-bottom: 1px solid #ccc;

    .expand-wrap, .expand-wrap p{
        background-color: #eee;
        font-size: 12px;
        margin-bottom: 2px;
        padding: 2px 2px 2px 10px;
        position: relative;

        .primary-xsmall-txt {
            color: #404256;
            margin: 0;
            font-size: 12px;
        }
    }

    .rule-label{
        background-color: #BA1F30;
        color: #fff;
    }
}

section .acc-content p {
    color: #A4A2A2;
    background-color: #eee;
}

section .acc-content.showContent {
    display: block;
}

#create-rule-page-content-wrapper .btn-primary {
    background-color: #BA1F30;
    border-color: #BA1F30;
}

#create-rule-page-content-wrapper .create-rule-cta {
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    height: 35px;
    margin: 10px 0;
    width: 135px;
    padding: 6px;
    border: 1px solid;
    background: #BA1F30;
    border-color: #BA1F30;
}

#create-rule-page-content-wrapper .create-rule-cta img {
    margin: 0 5px 0 7px;
}

#create-rule-page-content-wrapper .form-group.actions {
    margin-top: 28px;
}

.bs-wizard {
    margin-top: 40px;
}
.bs-wizard {
    border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
    padding: 0; position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959; 
    font-size: 16px; 
    margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999; 
    font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    display: block; 
    background: #197a29; 
    top: 45px; 
    left: 50%; 
    margin-top: -15px; 
    margin-left: -15px; 
    border-radius: 50%;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' '; 
    width: 14px; 
    height: 14px; 
    background: #0f631d; 
    border-radius: 50px; 
    position: absolute; 
    top: 8px; 
    left: 8px; 
} 
.bs-wizard > .bs-wizard-step > .progress {
    position: relative; 
    border-radius: 0px; 
    height: 8px; 
    box-shadow: none; 
    margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width:0px; 
    box-shadow: none; 
    background: #197a29;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width:100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width:50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width:0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child  > .progress {
    left: 50%; 
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child  > .progress {
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ 
    pointer-events: none; 
}