<dmca-header></dmca-header>
<!-- Sidebar -->
	<div class="example-sidenav-fab-container" id="create-rule-sidenav">
		<md-sidenav class="md-sidenav-left" mode="side" opened="true" md-component-id="left">
	        <md-list class="accordion">
	            <md-list-item data-target="#manage-rules" class="active-nav" (click)="showRules = !showRules;" [routerLink]="['/manage']">
	            	<img class="material-icons manage-rules" src="/assets/admin-rules2.png">
	            	<p class="sidenav-text">Manage Rules <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="manage-rules" [style.display]="expandRulesMgmt()">
		            <li class="active-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#API" class="active-nav-nav" (click)="showAPIs = !showAPIs;" [routerLink]="['/apis']">
		            <img class="material-icons manage-rules" src="/assets/admin-security2.png"> 
		            <p class="sidenav-text">Manage APIs <span class="arrow"></span></p>
		        </md-list-item>
		        <ul class="sub-menu" id="API" [style.display]="expandAPIs()">
		            <li class="inactive-nav-nav sidenav-text">DMCA</li>
		            <li class="sidenav-text">Film Marketing</li>
		            <li class="sidenav-text"><img src="assets/add_nav2.png" alt="add icon" style="width:20px;height:20px;"></li>
		        </ul>
		        <md-list-item data-target="#infra" class="active-nav-nav" (click)="infrastructureGo()">
		            <img class="material-icons manage-rules" src="/assets/admin-integration2.png">
		            <p class="sidenav-text">Manage Infrastructure <span class="arrow"></span></p>
		        </md-list-item>
	        </md-list>
	    </md-sidenav>
    </div>

	<div id="create-rule-page-content-wrapper">
    	<div class="flex-container content-wrap" fxLayout="row">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Create Rule</h1>   
            	</div>
        	</div>
    	</div>
		<div class="container flex-container content-wrap">
	    	<div class="row"><br />
		        <div class="col-md-12">      
			        <div class="container">
			            <div class="row bs-wizard" style="border-bottom:0;">               
			                <div class="col-xs-3 bs-wizard-step active-navi">
			                  <div class="text-center bs-wizard-stepnum">Create Rule</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="Rule_Template.html" onclick="myFunction('Demo1')" class="bs-wizard-dot"></a>
			                </div>
			                
			                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
			                  <div class="text-center bs-wizard-stepnum">Evaluate Rule</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			                
			                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
			                  <div class="text-center bs-wizard-stepnum">Deploy Rule</div>
			                  <div class="progress"><div class="progress-bar"></div></div>
			                  <a href="#" class="bs-wizard-dot"></a>
			                </div>
			            </div>        
			    	</div>
				</div>
				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Rule Description</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rule description">
				    <small id="emailHelp" class="form-text text-muted"></small>
				  </div>
				  <div class="form-group">
				    <label for="exampleSelect1">Conditions</label>
				    <select class="form-control" id="exampleSelect1">
				      <option>Days</option>
				      <option>Levels</option>
				      <option>Location</option>
				      </select>
				      <br>
				      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example: Type 7, if you select days">
				      <button class="btn btn-primary create-rule-cta" >
						<img src="/assets/add-white.png" alt="add icon" style="width:20px;height:20px;cursor:pointer"><span class="create-desc">Add condition</span>
					  </button>
				  </div>
				  <br>
				  <div class="form-group actions">
				    <label for="exampleSelect1">Actions</label>
				    <select class="form-control" id="exampleSelect1">
				      <option>Send Email</option>
				      <option>Level Update</option>
				      <option>Change Preference</option>
				      </select>
				  </div>
				  <div class="form-group">
				    <label for="exampleSelect1">Targets</label>
				    <select class="form-control" id="exampleSelect1">
				      <option>All Users</option>
				      <option>Demographic based</option>
				    </select>
				  </div>
				  <button type="submit" class="btn btn-primary">Save</button>
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
		    </div>
		</div>

    <!-- Menu Toggle Script -->
<!--     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> -->

	<div class="watermark">Powered By Rainfall</div>
</div><!-- /#page-content-wrapper -->

