/* You can add global styles to this file, and also import other style files */
body{
    font-family: Roboto,sans-serif !important;
    margin: 0;
    background-color: #d8d8d8;
}

.dmca-header md-toolbar-row{
    height: 77px !important;
}
.land-card .md-card-header-text{
    width: 100%
}
.upload-card .md-card-header-text{
    text-align: right;
    width: 100%;
}
.search-deploy .md-input-wrapper{
    margin: 0 !important;
}
.search-deploy .md-input-placeholder.md-float, .search-deploy .md-input-placeholder.md-float.md-empty.md-focused, .search-deploy .md-input-underline{
    display: none !important;
}
.form-wrap .md-input-placeholder.md-float, .form-wrap .md-input-placeholder.md-float.md-empty.md-focused{
    color: #404257 !important;
}
.form-wrap .md-input-underline .md-input-ripple{
    background-color: #404257 !important;
}
.search-deploy .md-input-placeholder.md-float.md-empty{
    display: block !important;
}
.bulk-upload .md-list-text{
    padding-right: 0 !important;
}
.content-option .md-select-trigger{
    height: 40px !important;
    background-color: #BA1F30 !important;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 1px 0px 1px 1px #ccc;
}
.content-option .md-select-placeholder, .content-option .md-select-arrow{
    color:#fff !important;
    font-size: 14px !important;
}
.content-option .md-select-placeholder.md-floating-placeholder{
    color:#404257 !important;
    left: -10px !important;
    padding-bottom: 10px !important;
}
.content-option .md-select-value{
    line-height: 30px;
    left: 10px !important;
    color: #fff;
}
.md-primary {
    text-transform: uppercase !important;
}
.tt-initial{
    text-transform: initial !important;
}
.errorBorder .md-input-underline{
    border-color: #e0301e !important;
}
.md-checkbox-indeterminate.md-primary .md-checkbox-background, .md-checkbox-checked.md-primary .md-checkbox-background{
    background-color: #BA1F30 !important;
}
.loader-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2222;
}
.loader{
    width: 50px !important;
    height: 50px !important;
}
.vio-detail md-list md-list-item.md-2-line .md-list-item{
    height: 116px !important;
}
.sidenav-wrap md-sidenav{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}
.md-list-item{
    cursor: pointer;
}
.dashboard-wrap .md-tab-label, .download-list-wrap .md-tab-label{
    min-width: inherit !important;
    height: 28px !important;
    line-height:  28px !important;
}
.total-status-list md-list {
    padding: 0;
    border-bottom: 2px solid #B4AFAF;
    margin: 5px 0;    
    padding: 10px 10px 0;
}
.total-status-list md-list:last-child{
    border-bottom: none;
}
.total-status-list md-list:first-child{
    margin-top: 0 !important;
}
.total-status-list .md-list-item {
    padding: 0;
    height: 98px !important;
}
.dashboard-wrap .md-tab-label.md-tab-label-active{
    background: #B4AFAF !important;
    color: #fff !important;
}
.dashboard-wrap md-ink-bar{
    visibility: hidden !important;
}
.log-wrap .md-input-underline{
    display: none !important;
}
.chart-bg .highcharts-container {
    box-shadow: none;
}
.search-input .completer-input{
    border: none !important;
    outline: none !important;
    width: 100% !important;    
}
.dispute-select md-select {
    width: 100%;
    background: #BA1F30;
}
.dispute-select .md-select-value, .dispute-select .md-select-placeholder{
    color: #fff;
    padding-left: 5px;
}
.dispute-select .md-select-arrow{
    color: #fff !important;
}
.dispute-select .md-select-placeholder.md-floating-placeholder{
    visibility: hidden !important;
}
.downgrade-select{
    position: absolute;
    top: 210px;
    width: 30%;
    right: 105px;
    clear: both;
    display: block;
}
.downgrade-select md-select{
        background: #BA1F30;
        width:100%;
}
.downgrade-select .md-select-value, .downgrade-select .md-select-placeholder{
    color: #fff;
    padding-left: 5px;
}
.downgrade-select .md-select-arrow {
    color: #fff !important;
}
.downgrade-select .md-select-placeholder.md-floating-placeholder{
    visibility: hidden !important;
}
/*auto complete input*/

.auto-complete-custom .completer-dropdown {
    width: 100% !important;
    left: 0%;
    top: 46px;
    padding: 0px !important;
}
.auto-complete-custom .completer-selected-row{
    width: 100% !important;
}
.auto-complete-custom .completer-row {
    margin: 0 !important;
    width: 100% !important;
    padding: 0px !important;
}
/*.auto-complete-custom .completer-list-item {
    width: 50% !important;
    padding:7px;
}
.auto-complete-custom .completer-list-item {
    width: 50% !important;
    float: left;
    padding:7px;

}
.auto-complete-custom .completer-list-item:nth-child(2){
    width: 50% !important;
}*/
.auto-complete-custom .completer-selected-row{
    background-color: #eee !important;
    border-left:5px solid #666;
    color: #404257 !important;
}

.auto-complete-custom .completer-list-item:first-child {
    width: 30% !important;
    padding-left: 55px;
}
.auto-complete-custom .completer-searching, .auto-complete-custom .completer-no-results{
    padding:7px !important;
}
.vio-history .highcharts-container{
    margin:0 auto !important;
}
.subs-header{
    height: 70px !important;
}
.active-nav{
   background: #233342 !important; 
}
.example-sidenav-fab-container .md-sidenav-focus-trap{
    width: 100% !important;
}
@media all and (max-width: 1600px) and (min-width: 1201px) {
    .split-line-x{
        left: -33px !important;
    }
}
@media all and (max-width: 1100px) and (min-width: 1001px) {
.header-title{
    left: 15% !important;
}
.vio-wrap {
         max-width: 75% !important;
         width: 75% !important;
    }
    .vol-card{
        width: 185px !important;
        margin: 2em 1em 2em 0em !important;
    }
    .vol-card::last-child{
        margin-right: 0 !important;
    }
    .mob-width1{
        width: 1% !important;
        max-width: 1% !important;
    }
    .business-line{
        margin: 25px;
    }
    .split-line-x{
        left: -25px;
    }
    .total-value{
        font-size: 25px;
    }
    .status-icon{
            width: 15px;
    margin-top: -5px;
    }
    .total-per {
        color: #fff;
        font-size: 15px;
    }

}
@media all and (max-width: 1000px) and (min-width: 700px) {
    .dmca-header, .dmca-header md-toolbar-row, .header-logo{
        height: 60px !important;
    }
    .header-title{
        position: relative !important;
        top: -60px !important;
        text-align: center;
        font-size: 15px !important;
        left: 0 !important;
        line-height: 60px !important;
    }
    .header-logo{
        width: 90px !important;
    }
    .vio-detail, .vio-submitter, .vio-wrap {
         max-width: 100% !important;
         width: 100% !important;
    }
    .submitter-det{
        padding: 10px 0 !important;
    }
    .vio-wrap{
        margin: 1em 0;
    }
    .mt2.bulk-upload{
        margin-top: -2em !important;
    }
    .vol-card {
        width: 280px !important;
        margin: 2em auto !important;
    }
    .flex-block {
        width: 100% !important;
        display: block !important;
        float: left;
        clear: both;
    }

    .submission-wrap {
        width: 50% !important;
        float: left;
    }
    .mob-width1{
        width: 1% !important;
        max-width: 1% !important;
    }
    .sidenav-wrap{
        width: 5% !important;
    }
    .sidenav-content{
        width: 95% !important;
        margin-left: 5% !important;
    }
    .example-sidenav-fab-container{
        position: fixed;
        width: 5% !important;
    }
    .sidenav-wrap md-list md-list-item .md-list-item{
        padding: 0 5px;
    }
    .sidenav-text{
        display: none;
    }
    .header-height{
        height: 60px !important;
    }
}
@media all and (max-width: 600px) and (min-width: 320px) {
    .input-wrap{
        width:91% !important;
    }
    .input-cont{
        display: block !important;
    }
    .input-field{
        padding: 0px !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 10px;
    }
    .clear-icon, .ok-icon {
        top: 10px !important;
        right: 0 !important;
    }
    .content-option{
        width: 100%;
    }
    .content-submit{
        position: relative !important;
        bottom: 0px !important;
        right: 0 !important;
        top: 20px;
        margin-bottom: 20px
    }
    .content-submit button{
        width: 100%;
    }
    .dmca-header, .dmca-header md-toolbar-row, .header-logo{
        height: 60px !important;
    }
    .header-title{
        position: relative !important;
        top: -60px !important;
        text-align: center;
        font-size: 15px !important;
        left: 0 !important;
        line-height: 60px !important;
    }
    .header-logo{
        width: 90px !important;
    }
    .vio-detail, .vio-submitter, .vio-wrap {
         max-width: 100% !important;
         width: 100% !important;
    }
    .submitter-det{
        padding: 10px 0 !important;
    }
    .vio-wrap{
        margin: 1em 0;
    }
    .mt2.bulk-upload{
        margin-top: -2em !important;
    }
    .vol-card {
        width: 80% !important;
        margin: 1em auto !important;
        height: 280px;
    }
    .flex-block {
        width: 100% !important;
        display: block !important;
        float: left;
        clear: both;
    }

    .submission-wrap {
        width: 100% !important;
        float: left;
    }
    .mob-width1{
        width: 1% !important;
        max-width: 1% !important;
    }
    .sidenav-wrap{
        width: 10% !important;
    }
    .example-sidenav-fab-container {
        position: fixed;
        width: 10% !important;
    }
    .sidenav-content{
        width: 90% !important;
        margin-left: 10% !important;
    }
    .sidenav-wrap md-list md-list-item .md-list-item{
        padding: 0 5px;
    }
    .sidenav-text{
        display: none;
    }    
    .header-height{
        height: 60px !important;
    }
}

.pos-rel{
    position: relative;
}
.error-text{
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.content-type chart .highcharts-container, .content-type.lower chart .highcharts-container, .highcharts-container{
    margin: 0 auto;
}
.md-tab-body-wrapper{
    margin-top: -1px;
}
.content-check .md-checkbox-inner-container{
    margin: 6px 8px auto auto;
}
.ui-growl{
    top: 77px;
    z-index: 10000;
}