.dmca-footer{
    background-color: #d8d8d8;
    padding-left: 0;
    height: 35px;
    position: fixed;
    z-index: 0;
    width: 100%;
    bottom:0;
}

.dmca-footer-space{
    flex: 1 1 auto;
}
.footer-height, .dmca-footer md-toolbar-row {
    height: 35px;
}
p {
	font-size: 14px;
	color: #A4A2A2;
}