/*.example-sidenav-fab-container {
  height: 100%;
  background-color: white;
}*/
.example-sidenav-fab-container{
    position: fixed;
    width: 15%;
    height: 100%;
}
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
  background-color: $text-primary;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.white{
    color:floralwhite;
}

.sidenav-text{
    color: #95A5A6;
    font-size: 12px;
    padding-left: 10px;
    margin: 0 !important;
}

.sidenav-wrap, .sidenav-content{
    float:left;
}
.sidenav-wrap{
    width: 15%;
}
.sidenav-content{
    float: left;
    padding: 15px;
    margin-left: 15%;
    margin-bottom: 40px;
}
.content-wrap{
    width: 90%;
    margin:0 auto;
    position:relative;
}