<md-sidenav-container class="example-sidenav-fab-container" [style.height.px]="navHeight">
    <md-sidenav class="md-sidenav-left" mode="side" opened="true" md-component-id="left">
        <md-list>
            <!--<md-subheader class="md-no-sticky">Favorites</md-subheader>-->
            <md-list-item (searchEvent)="dashboardClick();navigation('dashboard','one');" class="{{checkFlag('one')}}" [routerLink]="['/dashboard']">
                <i class="material-icons white">dashboard</i>
                <p class="sidenav-text">DASHBOARD</p>
            </md-list-item>
            <md-list-item>
                <i class="material-icons white">notifications</i>
                <p class="sidenav-text">NOTIFICATIONS</p>
            </md-list-item>
            <md-list-item>
                <i class="material-icons white">chat</i>
                <p class="sidenav-text">Q and A</p>
            </md-list-item>
            <md-list-item>
                <i class="material-icons white">note</i>
                <p class="sidenav-text">Copyright Infringement Process</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
</md-sidenav-container>